@font-face {
  font-family: 'VTB';
  src:  url('../assets/font/Vtb_extraBold_normal.eot');
  src:  url('../assets/font/Vtb_extraBold_normal.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_extraBold_normal.ttf') format('truetype'),
  url('../assets/font/Vtb_extraBold_normal.woff') format('woff'),
  url('../assets/font/Vtb_extraBold_normal.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src:  url('../assets/font/Vtb_bold_normal.eot');
  src:  url('../assets/font/Vtb_bold_normal.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_bold_normal.ttf') format('truetype'),
  url('../assets/font/Vtb_bold_normal.woff') format('woff'),
  url('../assets/font/Vtb_bold_normal.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src:  url('../assets/font/Vtb_demiBold_normal.eot');
  src:  url('../assets/font/Vtb_demiBold_normal.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_demiBold_normal.ttf') format('truetype'),
  url('../assets/font/Vtb_demiBold_normal.woff') format('woff'),
  url('../assets/font/Vtb_demiBold_normal.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'VTB';
  src:  url('../assets/font/Vtb_book__obl.eot');
  src:  url('../assets/font/Vtb_book__obl.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_book__obl.ttf') format('truetype'),
  url('../assets/font/Vtb_book__obl.woff') format('woff'),
  url('../assets/font/Vtb_book__obl.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'VTB';
  src:  url('../assets/font/Vtb_light__obl.eot');
  src:  url('../assets/font/Vtb_light__obl.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_light__obl.ttf') format('truetype'),
  url('../assets/font/Vtb_light__obl.woff') format('woff'),
  url('../assets/font/Vtb_light__obl.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'VTB';
  src:  url('../assets/font/Vtb_book_normal.eot');
  src:  url('../assets/font/Vtb_book_normal.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_book_normal.ttf') format('truetype'),
  url('../assets/font/Vtb_book_normal.woff') format('woff'),
  url('../assets/font/Vtb_book_normal.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src:  url('../assets/font/Vtb_extraLight_normal.eot');
  src:  url('../assets/font/Vtb_extraLight_normal.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_extraLight_normal.ttf') format('truetype'),
  url('../assets/font/Vtb_extraLight_normal.woff') format('woff'),
  url('../assets/font/Vtb_extraLight_normal.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'VTB Cond';
  src:  url('../assets/font/Vtb_extraBold_cond.eot');
  src:  url('../assets/font/Vtb_extraBold_cond.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_extraBold_cond.ttf') format('truetype'),
  url('../assets/font/Vtb_extraBold_cond.woff') format('woff'),
  url('../assets/font/Vtb_extraBold_cond.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src:  url('../assets/font/Vtb_bold_cond.eot');
  src:  url('../assets/font/Vtb_bold_cond.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_bold_cond.ttf') format('truetype'),
  url('../assets/font/Vtb_bold_cond.woff') format('woff'),
  url('../assets/font/Vtb_bold_cond.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src:  url('../assets/font/Vtb_demiBold_cond.eot');
  src:  url('../assets/font/Vtb_demiBold_cond.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_demiBold_cond.ttf') format('truetype'),
  url('../assets/font/Vtb_demiBold_cond.woff') format('woff'),
  url('../assets/font/Vtb_demiBold_cond.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src:  url('../assets/font/Vtb_book_cond.eot');
  src:  url('../assets/font/Vtb_book_cond.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_book_cond.ttf') format('truetype'),
  url('../assets/font/Vtb_book_cond.woff') format('woff'),
  url('../assets/font/Vtb_book_cond.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src:  url('../assets/font/Vtb_extraLight_cond.eot');
  src:  url('../assets/font/Vtb_extraLight_cond.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/Vtb_extraLight_cond.ttf') format('truetype'),
  url('../assets/font/Vtb_extraLight_cond.woff') format('woff'),
  url('../assets/font/Vtb_extraLight_cond.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

