.ico{
  &__phone{
    &-w{
      width: 14px;
      height: 14px;
      background: url("../assets/img/ico/phone_w.svg")no-repeat center;
      background-size: contain;
    }
  }
  &__flag{
    &-w{
      width: 14px;
      height: 12px;
      background: url("../assets/img/ico/flag_w.svg")no-repeat center;
      background-size: contain;
    }
  }
  &__dot{
    &-b{
      top: 7px!important;
      width: 4px;
      height: 4px;
      background: url("../assets/img/ico/dot_b.svg")no-repeat center;
      background-size: contain;
    }
  }
  &__arr{
    &-left{
      background: url("../assets/img/ico/arr_left_b.svg")no-repeat center;
      background-size: contain;
    }
  }
  &__three-dot{
    background: url("../assets/img/ico/three_dot_b.svg")no-repeat center;
    background-size: contain;
  }
  &__save{
    background: url("../assets/img/ico/save.svg")no-repeat center;
    background-size: contain;
  }
  &__plus{
    background: url("../assets/img/ico/plus.svg")no-repeat center;
    background-size: contain;
  }
}