.ico{
  &__phone{
    &-w{
      width: 14px;
      height: 14px;
      background: url("../assets/img/ico/phone_w.svg")no-repeat center;
      background-size: contain;
    }
  }
  &__flag{
    &-w{
      width: 14px;
      height: 12px;
      background: url("../assets/img/ico/flag_w.svg")no-repeat center;
      background-size: contain;
    }
  }
  &__dot{
    &-b{
      top: 7px!important;
      width: 4px;
      height: 4px;
      background: url("../assets/img/ico/dot_b.svg")no-repeat center;
      background-size: contain;
    }
  }
  &__arr{
    &-left{
      background: url("../assets/img/ico/arr_left_b.svg")no-repeat center;
      background-size: contain;
    }
  }
  &__three-dot{
    background: url("../assets/img/ico/three_dot_b.svg")no-repeat center;
    background-size: contain;
    &_b{
      background: url("../assets/img/ico/thre_dot.svg")no-repeat center;
      background-size: contain;
      &.small-ico{
        background-size: auto 10px;
      }
    }
    &.small-ico{
      background-size: auto 10px;
    }
  }
  &__save{
    background: url("../assets/img/ico/save.svg")no-repeat center;
    background-size: contain;
  }
  &__plus{
    background: url("../assets/img/ico/plus.svg")no-repeat center;
    background-size: contain;
  }
  &__drop-down{
    &_b{
      background: url("../assets/img/ico/drop_down_mail_b.svg")no-repeat center;
      background-size: contain;
    }
  }
  &__mails{
    background: url("../assets/img/ico/mails.svg")no-repeat center;
    background-size: contain;
  }
  &__times{
    background: url("../assets/img/ico/times.svg")no-repeat center;
    background-size: contain;
  }
  &__time{
    background: url("../assets/img/ico/time.svg")no-repeat center;
    background-size: contain;
  }
  &__user-edit{
    background: url("../assets/img/ico/user_edit.svg")no-repeat center;
    background-size: contain;
  }
  &__history-mail{
    background: url("../assets/img/ico/history_mail.svg")no-repeat center;
    background-size: contain;
  }
  &__rotate{
    width: 16px!important;
    height: 16px!important;
    margin-left: 2px;
    background: url("../assets/img/ico/rotate.svg")no-repeat center;
    background-size: contain;
  }
  &__calendar{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url("../assets/img/ico/calendar.svg")no-repeat center;
    background-size: contain;
  }
  &__cross{
    background: url("../assets/img/ico/cross.svg")no-repeat center;
    background-size: contain;
  }
  &__arr_u_d{
    background: url("../assets/img/ico/arr_u_d.svg")no-repeat center;
    background-size: contain;
  }
  &__arr_r{
    width: 18px!important;
    height: 17px!important;
    margin-right: 0!important;
    background: url("../assets/img/ico/arr_r.svg")no-repeat center;
    background-size: contain;
  }
  &__search{
    background: url("../assets/img/ico/ico_search.svg")no-repeat center;
    background-size: contain;
  }
  &__close{
    background: url("../assets/img/ico/ico_close.svg")no-repeat center;
    background-size: contain;
  }
  &__select_drop{
    background: url("../assets/img/ico/select_drop.svg")no-repeat center;
    background-size: contain;
  }
}