.meeting{
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  min-height: 600px;
  &__header{
    width: 100%;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #DAE1E6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 25px;
    &__filter{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      padding: 12px 0;
      &__item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        &.item{
          &-small{
            min-width: 350px;
            margin-right: 20px;
          }
          &-big{
            flex-grow: 1;
          }
        }
        &__name{
          @include def_font(14px,300);
          color: $ThGreyC;
          margin-right: 20px;
          display: inline-block;
          line-height: 18px;
          flex-shrink: 0;
        }
        &__input{
          flex-grow: 1;
          position: relative;
          cursor: pointer;
          box-sizing: border-box;
          height: 30px;
          border-radius: 3px;
          background-color: white;
          border: 1px solid $ThBorderC;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: flex-start;
          input{
            flex-grow: 1;
            height: 28px;
            padding: 0 10px;
            margin: 0;
            border: none;
            outline: none;
            width: 100%;
            cursor: pointer;
          }
          i{
            margin-right: 12px;
            flex-shrink: 0;
            font-size: 6px;
            color: $ThSecondaryC;
          }
        }
      }
    }
  }
  &__body{
    width: 100%;
    position: relative;
    padding-left: 25px;
    padding-top: 25px;
    &__control{
      width: 100%;
      position: relative;
      padding-right: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
      &__btn{
        display: inline-block;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 3px;
        text-decoration: none;
        text-align: center;
        &:hover{
          text-decoration: none;
        }
        &.btn{
          &-ghost{
            background-color: transparent;
            border: 1px solid $ThBorderC;
            &:hover{
              border: 1px solid $ThSecondaryC;
            }
            i{
              color: $ThSecondaryC;
            }
          }
          &-primary{
            &-dark{
              background-color: $ThBorderDarkC;
              border: 1px solid $ThBorderDarkC;
              i{
                color: $ThPrimaryC;
              }
              &:hover{
                border: 1px solid $ThPrimaryC;
              }
            }
          }
        }
        i{
          line-height: 28px;
          display: inline-block;
          font-size: 14px;
        }
      }
      &__calendar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        margin: 0;
        position: relative;
        &__wrap{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          position: relative;
        }
        &__arr{
          display: inline-block;
          margin: 0 25px;
          text-decoration: none;
          cursor: pointer;
          position: relative;
          padding: 3px 4px;
          i{
            color: $ThSecondaryC;
            font-size: 16px;
            &:hover{
              color: $ThPrimaryC;
            }
          }
        }
        &__value{
          @include def_font(19px,300);
          color: $ThTextC;
          line-height: 24px;
        }
        &__btn{
          text-decoration: none;
          display: inline-block;
          margin-left: 10px;
          color: $ThSecondaryC;
          i{
            font-size: 16px;
          }
          &:hover{
            color: $ThPrimaryC;
          }
        }
      }
    }
    &__content{
      width: 100%;
      position: relative;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
  &__greed{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 110px);
    max-height: calc(100vh - 110px);
    overflow: hidden auto ;
    padding: 0 25px 25px 0;
    &::-webkit-scrollbar {
      /* 1 - скроллбар */
      background-color: white;
      height: 11px;
      width: 11px;
    }
    &::-webkit-scrollbar-button {
      /* 2 - кнопка */
      height: 0;
      width: 0;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      /* 3 - трек */
      background-color: transparent;
      width: 5px;
      height: 5px;
    }
    &::-webkit-scrollbar-track-piece {
      /* 4 - видимая часть трека */
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      /* 5 - ползунок */
      background-color: #bfd4df;
      border-radius: 5px;
      padding: 3px;
      border: 3px solid white;
    }
    &::-webkit-scrollbar-corner {
      /* 6 - уголок */
    }
    &::-webkit-resizer {
      /* 7 - изменение размеров */
    }
    &__name{
      width: 260px;
      box-sizing: border-box;
      border: 1px solid $ThFrameC;
      flex-shrink: 0;
      flex-grow: 0;
      position: relative;
      &__fixed{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        .meeting__greed__name__item{
          background-color: $ThBorderC;
          color: $ThTextC;
          border-bottom: 1px solid $ThFrameC;
        }
      }
      &__content{
        width: 100%;
        padding-top: 32px;
        height: 100%;
        position: relative;
        .meeting__greed__name__item:last-child{
          border-bottom: 1px solid transparent;
        }
      }
      &__item{
        height: 32px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
        background-color: white;
        text-decoration: none;
        white-space: nowrap;
        line-height: 30px;
        border-bottom: 1px solid $ThFrameC;
        a{
          text-decoration: none;
          color: #38529D;
          @include def_font(14px,300);
          line-height: 18px;
          text-decoration: none;
          &:hover{
            color: $ThSecondaryC;
          }
        }
      }
    }
    &__time{
      width: calc(100% - 250px);
      height: auto;
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      overflow-x: auto;
      &::-webkit-scrollbar {
        /* 1 - скроллбар */
        background-color: white;
        height: 11px;
        width: 11px;
      }
      &::-webkit-scrollbar-button {
        /* 2 - кнопка */
        height: 0;
        width: 0;
        background-color: transparent;
      }
      &::-webkit-scrollbar-track {
        /* 3 - трек */
        background-color: transparent;
        width: 5px;
        height: 5px;
      }
      &::-webkit-scrollbar-track-piece {
        /* 4 - видимая часть трека */
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        /* 5 - ползунок */
        background-color: #bfd4df;
        border-radius: 5px;
        padding: 3px;
        border: 3px solid white;
      }
      &::-webkit-scrollbar-corner {
        /* 6 - уголок */
      }
      &::-webkit-resizer {
        /* 7 - изменение размеров */
      }
      &__fixed{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: auto;
        border-top: 1px solid $ThFrameC;

        box-sizing: border-box;
        left: 0;
        top: 0;
      }
      &__content{
        padding-top: 33px;
        position: relative;
      }
      &__row{
        height: 32px;
        border-bottom: 1px solid $ThFrameC;
        width: max-content;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
      }
      &__item{
        height: 32px;
        border-right: 1px solid $ThFrameC;
        width: 60px;
        flex-shrink: 0;
      }
      &__item-head{
        width: 120px;
        flex-shrink: 0;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        background-color: $ThBorderC;
        border-right: 1px solid $ThFrameC;
        border-bottom: 1px solid $ThFrameC;
        span{
          @include def_font(14px,400);
          line-height: 18px;
          color: $ThTextC;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px){

}
@media screen and (max-width: 991px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 574px){

}