.meeting{
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  min-height: 600px;
  &__header{
    width: 100%;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #DAE1E6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 25px;
    &__filter{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      padding: 12px 0;
      &__item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        &.item{
          &-small{
            min-width: 350px;
            margin-right: 20px;
          }
          &-big{
            flex-grow: 1;
          }
        }
        &__name{
          @include def_font(14px,300);
          color: $ThGreyC;
          margin-right: 20px;
          display: inline-block;
          line-height: 18px;
          flex-shrink: 0;
        }
        &__input{
          flex-grow: 1;
          position: relative;
          cursor: pointer;
          box-sizing: border-box;
          height: 30px;
          border-radius: 3px;
          background-color: white;
          border: 1px solid $ThBorderC;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: flex-start;
          input{
            flex-grow: 1;
            height: 28px;
            padding: 0 10px;
            margin: 0;
            border: none;
            outline: none;
            width: 100%;
            cursor: pointer;
          }
          i{
            margin-right: 12px;
            flex-shrink: 0;
            font-size: 6px;
            color: $ThSecondaryC;
          }
        }
      }
    }
  }
  &__body{
    width: 100%;
    position: relative;
    padding-left: 25px;
    padding-top: 25px;
    &__control{
      width: 100%;
      position: relative;
      padding-right: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
      &__btn{
        display: inline-block;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 3px;
        text-decoration: none;
        text-align: center;
        &:hover{
          text-decoration: none;
        }
        &.btn{
          &-ghost{
            background-color: transparent;
            border: 1px solid $ThBorderC;
            &:hover{
              border: 1px solid $ThSecondaryC;
            }
            i{
              color: $ThSecondaryC;
            }
          }
          &-primary{
            &-dark{
              background-color: $ThBorderDarkC;
              border: 1px solid $ThBorderDarkC;
              i{
                color: $ThPrimaryC;
              }
              &:hover{
                border: 1px solid $ThPrimaryC;
              }
            }
          }
        }
        i{
          line-height: 28px;
          display: inline-block;
          font-size: 14px;
        }
      }
      &__calendar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        margin: 0;
        position: relative;
        &__wrap{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          position: relative;
        }
        &__arr{
          display: inline-block;
          margin: 0 25px;
          text-decoration: none;
          cursor: pointer;
          position: relative;
          padding: 3px 4px;
          i{
            color: $ThSecondaryC;
            font-size: 16px;
            &:hover{
              color: $ThPrimaryC;
            }
          }
        }
        &__value{
          @include def_font(19px,300);
          color: $ThTextC;
          line-height: 24px;
        }
        &__btn{
          text-decoration: none;
          display: inline-block;
          margin-left: 10px;
          color: $ThSecondaryC;
          i{
            font-size: 16px;
          }
          &:hover{
            color: $ThPrimaryC;
          }
        }
      }
    }
    &__content{
      width: 100%;
      position: relative;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
  &__greed{
    width: 100%;
    border: 1px solid $ThFrameC;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    &.greed{
      &__horizontal{
        width: calc(100% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
      }
      &__vertical{}
    }
    &__static{
      flex-shrink: 0;
      flex-grow: 0;
      border-right: 1px solid $ThFrameC;
      width: 260px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: white;
      &__item{
        position: relative;
        width: 100%;
        max-width: 260px;
        padding: 0 10px 0 15px;
        border-bottom: 1px solid $ThFrameC;
        height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        &:last-child{
          //border-bottom: none;
        }
        > span{
          display: inline-block;
          @include def_font(14px,300);
          white-space: nowrap;
        }
        &.item{
          &__name{
            background-color: $ThGreedBg;
            > span{
              font-size: 16px;
              line-height: 20px;
              color: $ThTextLC;
              font-weight: 400;
            }
          }
          &__card{
            cursor: pointer;
            > span{
              color: $ThPrimarySoftC;
            }
            &:hover{
              .meeting__greed__static__item__hover{
                display: flex;
              }
            }
          }
        }
        &__hover{
          display: none;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          width: 390px;
          height: 90px;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
          background-color: white;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: 1;
          .card{
            &__photo{
              width: 154px;
              height: 100%;
              background-size: cover;
              background-position: center;
              flex-shrink: 0;
              flex-grow: 0;
            }
            &__info{
              width: 100%;
              flex-shrink: 1;
              display: flex;
              padding: 10px;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-between;
              height: 100%;
              &__name{
                display: inline-block;
                white-space: normal;
                @include def_font(13px,300);
                line-height: 17px;
                color: $ThTextLC;
                margin-bottom: auto;
              }
              &__status{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: nowrap;
                margin-top: auto;
                &__capacity{
                  color: $ThTextLC;
                  @include def_font(13px,300);
                  line-height: 17px;
                  display: inline-block;
                  margin-right: 10px;
                  i{
                    font-size: 15px;
                    color: $ThGreyC;
                    margin-right: 5px;
                  }
                }
                &__scope{
                  margin: 0 5px;
                  i{
                    font-size: 17px;
                    margin-right: 8px;
                    color: $ThGreyC;
                    &.active{
                      color: $ThPrimarySoftC;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &__scroll{
      width: 100%;
      height: 100%;
      overflow: auto;
      position: relative;
      padding-left: 260px;
      &::-webkit-scrollbar {
        /* 1 - скроллбар */
        background-color: white;
        height: 11px;
        width: 11px;
      }
      &::-webkit-scrollbar-button {
        /* 2 - кнопка */
        height: 0;
        width: 0;
        background-color: transparent;
      }
      &::-webkit-scrollbar-track {
        /* 3 - трек */
        background-color: transparent;
        width: 5px;
        height: 5px;
      }
      &::-webkit-scrollbar-track-piece {
        /* 4 - видимая часть трека */
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        /* 5 - ползунок */
        background-color: #bfd4df;
        border-radius: 5px;
        padding: 3px;
        border: 3px solid white;
      }
      &::-webkit-scrollbar-corner {
        /* 6 - уголок */
      }
      &::-webkit-resizer {
        /* 7 - изменение размеров */
      }
      &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        width: auto;
        overflow: visible;
      }
      &__overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &__item{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-wrap: nowrap;
          text-align: center;
          height: 30px;
          background-color: rgba(0, 40, 130, 0.7);
          color: white;
          position: absolute;
          @include def_font(12px,400);
          cursor: pointer;
          z-index: 1;
        }
      }
      &__row{
        min-width: 100%;
        width: auto;
        border-bottom: 1px solid $ThFrameC;
        height: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 0;
        &.row{
          &-header{
            background-color: $ThGreedBg;
          }
          &-body{}
        }
        .row-col{
          &__big{
            width: 120px;
            flex-shrink: 0;
            flex-grow: 0;
            border-right: 1px solid $ThFrameC;
            box-sizing: border-box;
            height: 100%;
            min-height: 30px;
            max-height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            &:last-child{
              border-right: 0;
            }
          }
          &__small{
            width: 60px;
            flex-shrink: 0;
            flex-grow: 0;
            border-right: 1px solid $ThFrameC;
            box-sizing: border-box;
            height: 100%;
            min-height: 30px;
            max-height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            &:last-child{
              border-right: 0;
            }
          }
        }
        &:last-child{
          //border-bottom: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px){

}
@media screen and (max-width: 991px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 574px){

}