$c-blue-l:#8a989b;
$c-blue:#0a2973;
$c-blue-2:#0d2c75;
$c-blue-3:#009fdf;
$c-text-d:#404040;
$c-text-w:#ffffff;
$ThGreyC:#97A4B1;
$ThTextC:#000000;
$ThBorderC:#E6ECF2;
$ThFrameC:#DAE1E6;
$ThBorderDarkC:#C8D5EE;
$ThSecondaryC:#00AAFF;
$ThPrimaryC:#002882;