.vtb{
  &__pages{
    position: relative;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'VTB';
    margin-bottom: 35px;
  }
  &__content{
    width: 1186px;
    margin: 0 auto;
    position: relative;
  }
  &__header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 56px;
    background-color: $VtbWhiteC;
    padding: 0 20px;
    border-bottom: 1px solid $VtbGreyC;
    position: relative;
  }
  &__btn{
    &-menu{
      text-decoration: none;
      margin-left: auto;
      position: relative;
      &__link{
        text-decoration: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        &:hover{
          .vtb__btn-menu__title{
            color: $VtbSecondaryC;
          }
          i{

          }
        }
      }
      &__title{
        flex-shrink: 0;
        display: inline-block;
        color: $VtbPrimaryC;
        line-height: 24px;
        font-size: 15px;
        font-weight: 400;
      }
      i{
        flex-shrink: 0;
        display: inline-block;
        margin-left: 15px;
        font-size: 13px;
        color: $VtbSecondaryC;
      }
    }
  }
  &__body{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
  }
  &__column{
    &-big{
      flex-shrink: 0;
      width: 794px;
      position: relative;
      flex-grow: 1;
    }
    &-small{
      flex-shrink: 0;
      width: 392px;
      position: relative;
    }
  }
  &__separate{
    &-h{
      width: 100%;
      height: 2px;
      background-color: #E6E8F2;
      margin: 25px 0;
    }
  }
  &-marketing{
    &__content{
      width: 100%;
      height: 100%;
      position: relative;
      background-color: $VtbWhiteC;
      &-wrapp{
        width: 100%;
        position: relative;
        padding: 24px 21px 40px 37px;
      }
    }
    &__header{
      width: 100%;
      position: relative;
      padding: 8px 21px 0 37px;
      background-image: url("../assets/img/vtb_marketing/marketing_bg_1.png"),url("../assets/img/vtb_marketing/marketing_bg_2.png");
      background-repeat: no-repeat,no-repeat;
      background-size: 330px auto,190px auto;
      background-position: left 0 top 0,right 0 top 21px;

      &__banner{
        position: relative;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        height: 84px;
        margin-bottom: 8px;
        &__img{
          position: absolute;
          height: 84px;
          width: 115px;
          top: 50%;
          left: -3px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;
          transform: translateY(-50%);
        }
        &__title{
          display: inline-block;
          font-size: 28px;
          font-weight: 400;
          line-height: 32px;
          text-align: center;
          width: 100%;
          color: $VtbPrimaryC;
          margin: 0;
        }
      }
      &__filter{
        width: 100%;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        background: url("../assets/img/vtb_marketing/filter.png")no-repeat center;
        background-size: contain;
        height: 100px;
      }
    }
    &__optional{
      width: 100%;
      height: 100%;
      position: relative;
      background: linear-gradient(140.21deg, rgb(249, 249, 249) 12.25%, rgb(255, 255, 255) 65.75%);
      &-link{
        text-decoration: none;
        display: inline-block;
        margin-left: auto;
        &:hover{
          span{
            color: $VtbSecondaryC;
          }
        }
        span{
          vertical-align: top;
          font-size: 15px;
          line-height: 18px;
          color: $VtbPrimaryC;
          font-weight: 400;
          display: inline-block;
        }
        i{
          margin-left: 10px;
          height: 18px;
          width: 18px;
          display: inline-block;
          background: url("../assets/img/vtb_marketing/gog.svg")no-repeat center;
          background-size: contain;
        }
      }
    }
    &__block{
      &-header{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 24px;
      }
      &-split{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        .block-split{
          width: 50%;
          flex-shrink: 0;
          position: relative;
        }
      }
      &-text{
        width: 100%;
        position: relative;
        padding: 0 15px;
        p,span{
          font-size: 15px;
          line-height: 24px;
          color: $VtbTextC;
          font-weight: 400;
        }
        p{
          margin-top: 0;
          margin-bottom: 15px;
        }
        a{
          text-decoration: none;
          color: $ThPrimaryC;
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
          display: inline-block;
          margin-bottom: 5px;
          &:hover{
            color: $VtbSecondaryC;
          }
          i{
            color: #97A4B1;
            display: inline-block;
            margin-right: 12px;
            line-height: 24px;
          }
        }
      }
    }
    &__title{
      margin: 0;
      display: inline-block;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $VtbTitleC;
    }
    &__category{
      width: calc(100% + 20px);
      position: relative;
      left: -10px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      &__card{
        width: calc((100% / 3) - 20px);
        margin: 0 10px 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 150px;
        box-shadow: 0px 1.12176px 2.24352px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        border-radius: 2px;
        position: relative;
        background: linear-gradient(180deg, rgb(248, 248, 248) 1%, rgb(255, 255, 255) 70%);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 100% auto;
        &.card-bg{
          &-1{
            background-image: url("../assets/img/vtb_marketing/bg_1.png");
          }
          &-2{
            background-image: url("../assets/img/vtb_marketing/bg_2.png");
          }
          &-3{
            background-image: url("../assets/img/vtb_marketing/bg_3.png");
          }
          &-4{
            background-image: url("../assets/img/vtb_marketing/bg_4.png");
          }
          &-5{
            background-image: url("../assets/img/vtb_marketing/bg_5.png");
          }
          &-6{
            background-image: url("../assets/img/vtb_marketing/bg_6.png");
          }
          &-7{
            background-image: url("../assets/img/vtb_marketing/bg_7.png");
          }
          &-8{
            background-image: url("../assets/img/vtb_marketing/bg_8.png");
          }
        }
        &:hover{
          box-shadow: 0px 1.12176px 2.24352px rgba(0, 0, 0, 0.2);
        }
        &__status{
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 8px;
          z-index: 1;
          &__number{
            display: inline-block;
            width: 25px;
            height: 25px;
            background-color: rgba(151, 164, 177, 0.15);
            border-radius: 4px;
            text-align: center;
            line-height: 25px;
            vertical-align: middle;
            color: $VtbTextC;
            font-size: 13px;
            font-weight: 400;
            margin-right: 8px;
            margin-bottom: 5px;
          }
          &__tag{
            height: 25px;
            border-radius: 4px;
            background-color: $VtbWhiteC;
            padding: 0 8px 0 20px;
            line-height: 25px;
            vertical-align: middle;
            color: $VtbTextC;
            font-size: 13px;
            font-weight: 400;
            margin-right: 8px;
            position: relative;
            margin-bottom: 5px;
            &:before{
              content: "";
              position: absolute;
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 3px;
              overflow: hidden;
              left: 8px;
              top: 50%;
              transform: translateY(-50%);
            }
            &.tag{
              &-green{
                &:before{
                  background-color: #54CA85;
                }
              }
              &-yellow{
                &:before{
                  background-color: #FFF170;
                }
              }
              &-red{
                &:before{
                  background-color: #EB5757;
                }
              }
            }
          }
        }
        &__img{
          position: absolute;
          width: 98px;
          height: 98px;
          right: 8px;
          top: 8px;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &__title{
          z-index: 1;
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;
          flex-wrap: wrap;
          position: relative;
          padding: 0 55px 16px 16px;
          span{
            color: $VtbPrimaryC;
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
          }
        }
      }
    }
    &__subscript{
      width: 100%;
      position: relative;
      &__header{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5px;
      }
      &__checkbox{
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 15px;
        white-space: nowrap;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        input{
          display: none;
          &:checked{
            ~ .checkbox__content{
              &:before{
                font-size: 9px;
                line-height: 16px;
                text-align: center;
                color: $VtbWhiteC;
                background-color: $VtbSecondaryC;
                border-color: $VtbSecondaryC;
              }
            }
          }
        }
        .checkbox{
          &__content{
            position: relative;
            padding-left: 26px;
            &:before{
              content: "\e92e";
              font-family: 'iconfont_vtb' !important;
              speak: never;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              width: 16px;
              height: 16px;
              box-sizing: border-box;
              border: 1px solid $VtbGreyC;
              font-size: 0;
              display: inline-block;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              border-radius: 3px;
              background-color: $VtbWhiteC;
            }
          }
          &__title{
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            color: $VtbTextC;
          }
        }
      }
      &__body{
        width: 100%;
        margin-bottom: 10px;
      }
      &__card{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        height: 115px;
        box-shadow: 0px 1.12176px 2.24352px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin-bottom: 16px;
        &__photo{
          flex-shrink: 0;
          position: relative;
          width: 230px;
          height: 100%;
          border-radius: 3px 0px 0px 3px;
          background-color: #97A4B1;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          &.status{
            &-new{
              &:before{
                content: "Новое";
                height: 24px;
                line-height: 24px;
                border-radius: 3px;
                background-color: rgba(0,0,0,0.5);
                padding-left: 20px;
                padding-right: 8px;
                display: block;
                position: absolute;
                left: 8px;
                top: 8px;
                font-size: 13px;
                font-weight: 400;
                color: $VtbWhiteC;
              }
              &:after{
                content: "";
                position: absolute;
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                left: 16px;
                top: 17px;
                background-color: #54CA85;
              }
            }
          }
        }
        &__info{
          position: relative;
          padding: 10px 50px 0 22px;
          background-color: white;
          width: 100%;
          height: 100%;
          &__category{
            display: block;
            font-size: 13px;
            line-height: 17px;
            font-weight: 400;
            color: rgba(103,108,119,0.5);
            margin-bottom: 5px;
          }
          &__title{
            text-decoration: none;
            display: inline-block;
            color: $VtbPrimaryC;
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 5px;
            &:hover{
              color: $VtbSecondaryC;
            }
          }
          &__optional{
            width: 100%;
            margin-bottom: 3px;
            &__date{
              display: inline-block;
              color: rgba(103,108,119,0.5);
              font-size: 13px;
              line-height: 17px;
              margin-right: 8px;
              margin-bottom: 5px;
            }
            &__section{
              font-size: 13px;
              line-height: 17px;
              display: inline-block;
              font-weight: 400;
              margin-right: 8px;
              color: $VtbPrimaryC;
            }
          }
          &__tag{
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            &__item{
              display: inline-block;
              height: 20px;
              line-height: 20px;
              margin-right: 8px;
              margin-bottom: 8px;
              padding: 0 6px;
              background-color: #E6EDFB;
              border-radius: 3px;
              color: #404040;
              font-size: 13px;
              font-weight: 400;
            }
          }
          &__id{
            position: absolute;
            right: 20px;
            top: 8px;
            color: #676C77;
            font-size: 13px;
            line-height: 17px;
            opacity: 0.5;
            &:before{
              content: "# ";
            }
          }
          &__like{
            position: absolute;
            right: 20px;
            bottom: 14px;
            cursor: pointer;
            color: $VtbSecondaryC;
            font-size: 13px;
            line-height: 17px;
            font-weight: 400;
            &:before{
              content: "\e904";
              font-family: 'iconfont_vtb' !important;
              speak: never;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 11px;
              line-height: 17px;
              color: $VtbSecondaryC;
              display: inline-block;
              margin-right: 5px;
            }
            &.active{
              &:before{
                content: "\e905";
              }
            }
          }
        }
      }
      &__footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

      }
      &__btn{
        &-ghost{
          display: inline-block;
          text-decoration: none;
          height: 30px;
          line-height: 28px;
          width: 50%;
          text-align: center;
          background: #FFFFFF;
          border: 1px solid $ThSecondaryC;
          box-sizing: border-box;
          border-radius: 3px;
          color: $VtbSecondaryC;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
          &:hover{
            border: 1px solid $ThPrimaryC;
          }
        }
      }
    }
  }
}