.vtb{
  &__pages{
    position: relative;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'VTB';
    margin-bottom: 35px;
  }
  &__content{
    width: 1186px;
    margin: 0 auto;
    position: relative;
  }
  &__header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 56px;
    background-color: $VtbWhiteC;
    padding: 0 20px;
    border-bottom: 1px solid $VtbGreyC;
    position: relative;
  }
  &__btn{
    &-menu{
      text-decoration: none;
      margin-left: auto;
      position: relative;
      &__link{
        text-decoration: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        &:hover{
          .vtb__btn-menu__title{
            color: $VtbSecondaryC;
          }
          i{

          }
        }
      }
      &__title{
        flex-shrink: 0;
        display: inline-block;
        color: $VtbPrimaryC;
        line-height: 24px;
        font-size: 15px;
        font-weight: 400;
      }
      i{
        flex-shrink: 0;
        display: inline-block;
        margin-left: 15px;
        font-size: 13px;
        color: $VtbSecondaryC;
      }
    }
    &-save{
      margin-left: 8px;
      display: inline-block;
      position: relative;
      &__link{
        display: flex;
        text-decoration: none;
        width: 30px;
        height: 30px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background-color: $VtbSecondaryC;
        border: 1px solid $VtbSecondaryC;
        cursor: pointer;
        &:hover{
          border: 1px solid $VtbPrimaryC;
        }
        i{
          color: $VtbWhiteC;
          font-size: 18px;
        }
      }
    }
  }
  &__status-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: relative;
    margin-left: auto;
    margin-right: 30px;
    flex-grow: 1;
    &__id{
      display: inline-block;
      position: relative;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      color: $VtbTextC;
      margin-right: 20px;
      &:before{
        content: "#";
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: $VtbGreyC;
        margin-right: 10px;
      }
    }
    &__status{
      display: inline-block;
      position: relative;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      color: $VtbTextC;
      margin-right: 20px;
      &:before{
        content: "Статус";
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: $VtbGreyC;
        margin-right: 10px;
      }
    }
  }
  &__body{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
  }
  &__column{
    &-big{
      flex-shrink: 0;
      width: 794px;
      position: relative;
      flex-grow: 1;
    }
    &-small{
      flex-shrink: 0;
      width: 392px;
      position: relative;
    }
  }
  &__separate{
    &-h{
      width: 100%;
      height: 2px;
      background-color: #E6E8F2;
      margin: 25px 0;
    }
  }
  &-marketing{
    &__content{
      width: 100%;
      height: 100%;
      position: relative;
      background-color: $VtbWhiteC;
      &-wrapp{
        width: 100%;
        position: relative;
        padding: 24px 21px 40px 37px;
      }
    }
    &__header{
      width: 100%;
      position: relative;
      padding: 8px 21px 0 37px;
      background-image: url("../assets/img/vtb_marketing/marketing_bg_1.png"),url("../assets/img/vtb_marketing/marketing_bg_2.png");
      background-repeat: no-repeat,no-repeat;
      background-size: 330px auto,190px auto;
      background-position: left 0 top 0,right 0 top 21px;

      &__banner{
        position: relative;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        height: 84px;
        margin-bottom: 8px;
        &__img{
          position: absolute;
          height: 84px;
          width: 115px;
          top: 50%;
          left: -3px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;
          transform: translateY(-50%);
        }
        &__title{
          display: inline-block;
          font-size: 28px;
          font-weight: 400;
          line-height: 32px;
          text-align: center;
          width: 100%;
          color: $VtbPrimaryC;
          margin: 0;
        }
      }
      &__filter{
        width: 100%;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        background: url("../assets/img/vtb_marketing/filter.png")no-repeat center;
        background-size: contain;
        height: 100px;
      }
    }
    &__optional{
      width: 100%;
      height: 100%;
      position: relative;
      background: linear-gradient(140.21deg, rgb(249, 249, 249) 12.25%, rgb(255, 255, 255) 65.75%);
      padding: 24px 32px;
      &-link{
        text-decoration: none;
        display: inline-block;
        margin-left: auto;
        &:hover{
          span{
            color: $VtbSecondaryC;
          }
        }
        span{
          vertical-align: top;
          font-size: 15px;
          line-height: 18px;
          color: $VtbPrimaryC;
          font-weight: 400;
          display: inline-block;
        }
        i{
          margin-left: 10px;
          height: 18px;
          width: 18px;
          display: inline-block;
          background: url("../assets/img/vtb_marketing/gog.svg")no-repeat center;
          background-size: contain;
        }
      }
      &__banner{
        width: 100%;
        position: relative;
        margin-bottom: 40px;
        &__title{
          margin-top: 0;
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
          color: $VtbTitleC;
        }
        &__img{
          display: block;
          margin-right: auto;
          margin-left: auto;
        }
        &__text{
          text-align: center;
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
          display: block;
          margin-bottom: 15px;
          b{
            font-weight: 600;
          }
        }
        &__btn{
          line-height: 48px;
          height: 48px;
          background-color: $VtbSecondaryC;
          color: $VtbWhiteC;
          font-size: 17px;
          font-weight: 400;
          padding: 0 20px;
          display: inline-block;
          margin: 0 auto;
          text-decoration: none;
          border-radius: 3px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &__list{
        width: 100%;
        position: relative;
        &__title{
          margin-top: 0;
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
          color: $VtbTitleC;
          margin-bottom: 20px;
        }
        ul{
          margin: 0;
          padding: 0;
          width: 100%;
          position: relative;
          list-style-type: none;
          li{
            display: block;
            width: 100%;
            position: relative;
            padding-left: 22px;
            margin-bottom: 15px;
            &:before{
              content: "";
              position: absolute;
              left: 0;
              top: 8px;
              width: 4px;
              height: 4px;
              border-radius: 2px;
              background-color: $VtbSecondaryC;
              display: block;
            }
            a{
              display: inline-block;
              text-decoration: none;
              font-size: 15px;
              line-height: 19px;
              font-weight: 400;
              color: $VtbPrimaryC;
              &:hover{
                color: $VtbSecondaryC;
              }
            }
          }
        }
      }
    }
    &__block{
      &-header{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 24px;
      }
      &-split{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        .block-split{
          width: 50%;
          flex-shrink: 0;
          position: relative;
        }
      }
      &-text{
        width: 100%;
        position: relative;
        padding: 0 15px;
        p,span{
          font-size: 15px;
          line-height: 24px;
          color: $VtbTextC;
          font-weight: 400;
        }
        p{
          margin-top: 0;
          margin-bottom: 15px;
        }
        a{
          text-decoration: none;
          color: $ThPrimaryC;
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
          display: inline-block;
          margin-bottom: 5px;
          &:hover{
            color: $VtbSecondaryC;
          }
          i{
            color: #97A4B1;
            display: inline-block;
            margin-right: 12px;
            line-height: 24px;
          }
        }
      }
    }
    &__title{
      margin: 0;
      display: inline-block;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $VtbTitleC;
    }
    &__category{
      width: calc(100% + 20px);
      position: relative;
      left: -10px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      &__card{
        width: calc((100% / 3) - 20px);
        margin: 0 10px 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 150px;
        box-shadow: 0px 1.12176px 2.24352px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        border-radius: 2px;
        position: relative;
        background: linear-gradient(180deg, rgb(248, 248, 248) 1%, rgb(255, 255, 255) 70%);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 100% auto;
        &.card-bg{
          &-1{
            background-image: url("../assets/img/vtb_marketing/bg_1.png");
          }
          &-2{
            background-image: url("../assets/img/vtb_marketing/bg_2.png");
          }
          &-3{
            background-image: url("../assets/img/vtb_marketing/bg_3.png");
          }
          &-4{
            background-image: url("../assets/img/vtb_marketing/bg_4.png");
          }
          &-5{
            background-image: url("../assets/img/vtb_marketing/bg_5.png");
          }
          &-6{
            background-image: url("../assets/img/vtb_marketing/bg_6.png");
          }
          &-7{
            background-image: url("../assets/img/vtb_marketing/bg_7.png");
          }
          &-8{
            background-image: url("../assets/img/vtb_marketing/bg_8.png");
          }
        }
        &:hover{
          box-shadow: 0px 1.12176px 2.24352px rgba(0, 0, 0, 0.2);
        }
        &__status{
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 8px;
          z-index: 1;
          &__number{
            display: inline-block;
            width: 25px;
            height: 25px;
            background-color: rgba(151, 164, 177, 0.15);
            border-radius: 4px;
            text-align: center;
            line-height: 25px;
            vertical-align: middle;
            color: $VtbTextC;
            font-size: 13px;
            font-weight: 400;
            margin-right: 8px;
            margin-bottom: 5px;
          }
          &__tag{
            height: 25px;
            border-radius: 4px;
            background-color: $VtbWhiteC;
            padding: 0 8px 0 20px;
            line-height: 25px;
            vertical-align: middle;
            color: $VtbTextC;
            font-size: 13px;
            font-weight: 400;
            margin-right: 8px;
            position: relative;
            margin-bottom: 5px;
            &:before{
              content: "";
              position: absolute;
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 3px;
              overflow: hidden;
              left: 8px;
              top: 50%;
              transform: translateY(-50%);
            }
            &.tag{
              &-green{
                &:before{
                  background-color: #54CA85;
                }
              }
              &-yellow{
                &:before{
                  background-color: #FFF170;
                }
              }
              &-red{
                &:before{
                  background-color: #EB5757;
                }
              }
            }
          }
        }
        &__img{
          position: absolute;
          width: 98px;
          height: 98px;
          right: 8px;
          top: 8px;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &__title{
          z-index: 1;
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;
          flex-wrap: wrap;
          position: relative;
          padding: 0 55px 16px 16px;
          span{
            color: $VtbPrimaryC;
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
          }
        }
      }
    }
    &__subscript{
      width: 100%;
      position: relative;
      &__header{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5px;
      }
      &__checkbox{
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 15px;
        white-space: nowrap;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        input{
          display: none;
          &:checked{
            ~ .checkbox__content{
              &:before{
                font-size: 9px;
                line-height: 16px;
                text-align: center;
                color: $VtbWhiteC;
                background-color: $VtbSecondaryC;
                border-color: $VtbSecondaryC;
              }
            }
          }
        }
        .checkbox{
          &__content{
            position: relative;
            padding-left: 26px;
            &:before{
              content: "\e92e";
              font-family: 'iconfont_vtb' !important;
              speak: never;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              width: 16px;
              height: 16px;
              box-sizing: border-box;
              border: 1px solid $VtbGreyC;
              font-size: 0;
              display: inline-block;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              border-radius: 3px;
              background-color: $VtbWhiteC;
            }
          }
          &__title{
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            color: $VtbTextC;
          }
        }
      }
      &__body{
        width: 100%;
        margin-bottom: 10px;
      }
      &__card{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        height: 115px;
        box-shadow: 0px 1.12176px 2.24352px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin-bottom: 16px;
        &__photo{
          flex-shrink: 0;
          position: relative;
          width: 230px;
          height: 100%;
          border-radius: 3px 0px 0px 3px;
          background-color: #97A4B1;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          &.status{
            &-new{
              &:before{
                content: "Новое";
                height: 24px;
                line-height: 24px;
                border-radius: 3px;
                background-color: rgba(0,0,0,0.5);
                padding-left: 20px;
                padding-right: 8px;
                display: block;
                position: absolute;
                left: 8px;
                top: 8px;
                font-size: 13px;
                font-weight: 400;
                color: $VtbWhiteC;
              }
              &:after{
                content: "";
                position: absolute;
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                left: 16px;
                top: 17px;
                background-color: #54CA85;
              }
            }
          }
        }
        &__info{
          position: relative;
          padding: 10px 50px 0 22px;
          background-color: white;
          width: 100%;
          height: 100%;
          &__category{
            display: block;
            font-size: 13px;
            line-height: 17px;
            font-weight: 400;
            color: rgba(103,108,119,0.5);
            margin-bottom: 5px;
          }
          &__title{
            text-decoration: none;
            display: inline-block;
            color: $VtbPrimaryC;
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 5px;
            &:hover{
              color: $VtbSecondaryC;
            }
          }
          &__optional{
            width: 100%;
            margin-bottom: 3px;
            &__date{
              display: inline-block;
              color: rgba(103,108,119,0.5);
              font-size: 13px;
              line-height: 17px;
              margin-right: 8px;
              margin-bottom: 5px;
            }
            &__section{
              font-size: 13px;
              line-height: 17px;
              display: inline-block;
              font-weight: 400;
              margin-right: 8px;
              color: $VtbPrimaryC;
            }
          }
          &__tag{
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            &__item{
              display: inline-block;
              height: 20px;
              line-height: 20px;
              margin-right: 8px;
              margin-bottom: 8px;
              padding: 0 6px;
              background-color: #E6EDFB;
              border-radius: 3px;
              color: #404040;
              font-size: 13px;
              font-weight: 400;
            }
          }
          &__id{
            position: absolute;
            right: 20px;
            top: 8px;
            color: #676C77;
            font-size: 13px;
            line-height: 17px;
            opacity: 0.5;
            &:before{
              content: "# ";
            }
          }
          &__like{
            position: absolute;
            right: 20px;
            bottom: 14px;
            cursor: pointer;
            color: $VtbSecondaryC;
            font-size: 13px;
            line-height: 17px;
            font-weight: 400;
            &:before{
              content: "\e904";
              font-family: 'iconfont_vtb' !important;
              speak: never;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 11px;
              line-height: 17px;
              color: $VtbSecondaryC;
              display: inline-block;
              margin-right: 5px;
            }
            &.active{
              &:before{
                content: "\e905";
              }
            }
          }
        }
      }
      &__footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

      }
      &__btn{
        &-ghost{
          display: inline-block;
          text-decoration: none;
          height: 30px;
          line-height: 28px;
          width: 50%;
          text-align: center;
          background: #FFFFFF;
          border: 1px solid $ThSecondaryC;
          box-sizing: border-box;
          border-radius: 3px;
          color: $VtbSecondaryC;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
          &:hover{
            border: 1px solid $ThPrimaryC;
          }
        }
      }
    }
  }
  &-checklist{
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 40px 27px 30px 33px;
    &__construct{
      position: relative;
      width: 100%;
      &__header{
        position: relative;
        width: 100%;
        padding: 10px 0;
      }
      &__title{
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 19px;
        font-weight: 300;
        color: $VtbTitleC;
        line-height: 24px;
      }
      &__bar{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        background-color: #ffffff;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        height: 70px;
        flex-wrap: wrap;
        &__switch{
          position: relative;
          display: inline-block;
          margin-right: 10px;
          input{
            display: none;
            &:checked{
              ~ .switch__body{
                .switch__body__name{
                  &.unchecked{
                    color: #97A4B1;
                  }
                  &.checked{
                    color: $VtbSecondaryC;
                  }
                }
                .switch__body__position{
                  &:before{
                    left: 24px;
                  }
                }
              }
            }
          }
          .switch__body{
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            cursor: pointer;
            &__name{
              display: inline-block;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
              color: #97A4B1;
              &.unchecked{
                color: $VtbSecondaryC;
              }
            }
            &__position{
              width: 44px;
              height: 22px;
              border-radius: 11px;
              background-color: $VtbSecondaryC;
              position: relative;
              margin: 0 10px;
              flex-shrink: 0;
              &:before{
                content: "";
                transition: all linear 0.3s;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #ffffff;
                display: block;
                position: absolute;
                left: 2px;
                top: 2px;
              }
            }
          }

        }
        &__add-btn{
          text-decoration: none;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: flex-start;
          padding: 0 11px;
          height: 30px;
          border: 1px solid $VtbSecondaryC;
          border-radius: 3px;
          box-sizing: border-box;
          margin-right: 10px;
          &:hover{
            border: 1px solid $VtbPrimaryC;
          }
          i{
            color: $VtbSecondaryC;
            font-size: 15px;
            margin-right: 10px;
          }
          span{
            font-size: 14px;
            line-height: 17px;
            font-weight: 300;
            color: $VtbSecondaryC;
          }
        }
        &__control-group{
          display: flex;
          position: relative;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: flex-start;
          .control-group{
            &__btn{
              display: flex;
              border-radius: 3px;
              border: 1px solid #E6EDFB;
              background-color: #E6EDFB;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              margin-left: 10px;
              width: 30px;
              height: 30px;
              text-decoration: none;
              &:hover{
                border: 1px solid $VtbGreyC;
                i{
                  color: $VtbSecondaryC;
                }
              }
              i{
                font-size: 14px;
                color: $VtbPrimaryC;
                &.icon-asterisk{
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
      &__setting{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        position: relative;
        width: 100%;
        padding-top: 30px;
        .setting{
          &__block{
            width: 50%;
            padding-right: 20px;
            flex-shrink: 0;
            position: relative;
          }
          &__header{
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            margin-bottom: 15px;
          }
          &__row{
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            margin-bottom: 20px;
          }
          &__title{
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;
            color: $VtbTitleC;
            margin: 0;
            display: inline-block;
          }
          &__add{
            display: flex;
            border-radius: 3px;
            border: 1px solid #E6EDFB;
            background-color: #E6EDFB;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin-left: 20px;
            width: 30px;
            height: 30px;
            text-decoration: none;
            &:hover{
              border: 1px solid $VtbGreyC;
              i{
                color: $VtbSecondaryC;
              }
            }
            i{
              font-size: 14px;
              color: $VtbPrimaryC;
            }
          }
          &__input{
            height: 30px;
            border: 1px solid #E6ECF2;
            background-color: #ffffff;
            border-radius: 3px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            position: relative;
            margin-right: 8px;
            &__control{
              position: relative;
              height: 100%;
              flex-shrink: 0;
              width: 20px;
              padding-right: 10px;
              &__btn{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 100%;
                flex-shrink: 0;
                //width: 10px;
                text-decoration: none;
                &:hover{
                  i{
                    color: $VtbPrimaryC;
                  }
                }
                i{
                  color: $VtbSecondaryC;
                  font-size: 10px;
                  &.icon-arm{
                    font-size: 7px;
                  }
                  &:last-child{
                    display: none;
                  }
                  &:first-child{
                    display: block;
                  }
                }
              }
              &.not-empty{
                .setting__input__control__btn{
                  i{
                    &:last-child{
                      display: block;
                    }
                    &:first-child{
                      display: none;
                    }
                  }
                }
              }
            }
            &.input{
              &__num{
                width: 70px;
              }
              &__color{
                width: 150px;
              }
            }
            input{
              border: none;
              box-shadow: none;
              outline: none;
              width: 100%;
              line-height: 28px;
              height: 28px;
              background-color: transparent;
              padding: 10px;
              font-size: 14px;
              font-weight: 400;
              color: #000000;
            }
            &__name{
              display: inline-block;
              margin-right: 20px;
              font-size: 14px;
              line-height: 18px;
              font-weight: 300;
              color: #97A4B1;
              flex-shrink: 0;
            }
          }
          &__control{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: relative;
            margin-right: 25px;
            &__btn{
              display: block;
              text-decoration: none;
              cursor: pointer;
              padding: 3px;
              line-height: 1px;
              &.down{
                i{
                  transform: rotate(180deg);
                }
              }
              &:hover{
                i{
                  color: $VtbPrimaryC;
                }
              }
              i{
                display: block;
                font-size: 6px;
                color: $VtbSecondaryC;
                line-height: 1;
                position: relative;
              }
            }
          }
        }
      }
      &__tree{
        width: 100%;
        position: relative;
        .tree__block{
          width: 100%;
          position: relative;
          margin-bottom: 10px;
          &__header{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: 50px;
            margin-top: 10px;
            border-bottom: 1px solid #DAE1E6;
            &__ratio{
              margin-left: 10px;
              margin-right: 10px;
              flex-shrink: 0;
              cursor: pointer;
              input{
                display: none;
                &:checked{
                  ~ .tree__block__header__ratio__checked{
                    border: 2px solid $VtbSecondaryC;
                    i{
                      display: block;
                    }
                  }
                }
              }
              &__checked{
                width: 18px;
                height: 18px;
                border-radius: 50%;
                flex-shrink: 0;
                border: 2px solid #C3D7E1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                &:hover{
                  border: 2px solid #b4c8d2;
                }
                i{
                  font-size: 7px;
                  font-weight: bold;
                  color: $VtbSecondaryC;
                  display: none;
                }
              }
            }
            &__title{
              font-size: 20px;
              line-height: 25px;
              font-weight: 500;
              color: $VtbTitleC;
              text-transform: uppercase;
              display: inline-block;
            }
            &__btn{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              margin-left: 10px;
              &:hover{
                i{
                  color: $VtbPrimaryC;
                }
              }
              i{
                color: $VtbSecondaryC;
                font-size: 16px;
              }
            }
            &__status{
              width: 30px;
              flex-shrink: 0;
            }
            &__number{
              width: 50px;
              flex-shrink: 0;
              font-weight: 500;
              font-size: 19px;
              line-height: 24px;
              color: $VtbTextC;
            }
          }
          &__content{
            .tree__block__header__title{
              text-transform: none;
              font-size: 19px;
              line-height: 24px;
            }
            width: 100%;
            position: relative;
            padding-left: 30px;
            padding-top: 10px;
            &__row{
              padding-top: 20px;
              display: flex;
              width: 100%;
              position: relative;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              flex-wrap: nowrap;
            }
            .tree__block__header__btn{
              margin-right: 20px;
            }
            &__number{
              display: inline-block;
              margin-right: 10px;
              width: 30px;
              font-weight: 300;
              font-size: 14px;
              line-height: 18px;
              color: $VtbTextC;
              flex-shrink: 0;
            }
            &__title{
              display: inline-block;
              width: 430px;
              font-weight: 300;
              font-size: 14px;
              line-height: 18px;
              color: $VtbTextC;
              flex-shrink: 0;
            }
            &__input{
              height: 30px;
              border: 1px solid #E6ECF2;
              background-color: #ffffff;
              border-radius: 3px;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              flex-wrap: nowrap;
              position: relative;
              margin-right: 8px;
              &__control{
                position: relative;
                height: 100%;
                flex-shrink: 0;
                width: 20px;
                padding-right: 10px;
                &__btn{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  height: 100%;
                  flex-shrink: 0;
                  //width: 10px;
                  text-decoration: none;
                  &:hover{
                    i{
                      color: $VtbPrimaryC;
                    }
                  }
                  i{
                    color: $VtbSecondaryC;
                    font-size: 10px;
                    &.icon-arm{
                      font-size: 7px;
                    }
                    &:last-child{
                      display: none;
                    }
                    &:first-child{
                      display: block;
                    }
                  }
                }
                &.not-empty{
                  .tree__block__content__input__control__btn{
                    i{
                      &:last-child{
                        display: block;
                      }
                      &:first-child{
                        display: none;
                      }
                    }
                  }
                }
              }
              &.input{
                &__number{
                  width: 50px;
                }
                &__select{
                  width: 200px;
                }
              }
              input{
                border: none;
                box-shadow: none;
                outline: none;
                width: 100%;
                line-height: 28px;
                height: 28px;
                background-color: transparent;
                padding: 10px;
                font-size: 14px;
                font-weight: 400;
                color: #000000;
              }
            }
            &__status{
              width: 30px;
              flex-shrink: 0;
              position: relative;
              &.status{
                &__un-touch{
                  &:before{
                    font-family: 'iconfont_vtb' !important;
                    content: "\e92e";
                    position: relative;
                    left: 7px;
                    top: 3px;
                    color: #BFD4DF;
                    font-size: 12px;
                    display: block;
                  }
                }
                &__touch{
                  &:before{
                    font-family: 'iconfont_vtb' !important;
                    content: "\e92e";
                    position: relative;
                    left: 7px;
                    top: 3px;
                    color: #00AAFF;
                    font-size: 12px;
                    display: block;
                  }
                  ~ .tree__block__content__title{
                    opacity: 0.4;
                  }
                  ~ .tree__block__content__answer{
                    input{
                      &:not(:checked){
                        ~ .tree__block__content__answer__point__label{
                          background-color: white!important;
                        }
                      }
                    }
                  }
                }
                &__skip{
                  &:before{
                    font-family: 'iconfont_vtb' !important;
                    content: "\e94a";
                    position: relative;
                    left: 7px;
                    top: 7px;
                    color: $VtbTextC;
                    font-size: 3px;
                    display: block;
                  }
                  ~ .tree__block__content__title{
                    opacity: 0.4;
                  }
                  ~ .tree__block__content__answer{
                    .tree__block__content__answer__point__label{
                      background-color: white!important;
                      border-color: #BFD4DF!important;

                    }
                  }
                }
              }
            }
            &__answer{
              width: 150px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              flex-wrap: nowrap;
              align-self: center;
              &__point{
                width: 30px;
                height: 30px;
                margin: 0 7px;
                position: relative;
                input{
                  display: none;
                  &:checked{
                    ~ .tree__block__content__answer__point__label{
                      &:before{
                        font-family: 'iconfont_vtb' !important;
                        content: "\e92e";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        color: white;
                        transform: translate(-50%, -50%);
                        font-size: 12px;
                        display: block;
                      }
                    }
                  }
                }
                &__label{
                  border: 3px solid;
                  width: 100%;
                  height: 100%;
                  position: relative;
                  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
                  cursor: pointer;
                }
              }
              &.answer{
                &__round{
                  .tree__block__content__answer__point__label{
                    border-radius: 50%;
                  }
                }
                &__block{
                  .tree__block__content__answer__point__label{
                    border-radius: 4px;
                  }
                }
              }
            }
            &__about{
              display: block;
              position: relative;
              width: 16px;
              margin: 0 10px;
              align-self: center;
              i{
                font-size: 16px;
                color: $VtbSecondaryC;
              }
            }
            &__comment{
              flex-grow: 1;
              align-self: center;
              font-weight: 300;
              font-size: 14px;
              line-height: 18px;
              color: $VtbTextC;
            }
            &__check-box{
              align-self: center;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              flex-wrap: nowrap;
              flex-shrink: 0;
              margin-right: 5px;
              label{
                flex-shrink: 0;
                margin-right: 10px;
                input{
                  display: none;
                  &:checked{
                    ~ .tree__block__content__check-box__label{
                      border: 1px solid #00ACFF;
                      background-color: #00ACFF;
                      &:before{
                        font-family: 'iconfont_vtb' !important;
                        content: "\e92e";
                        position: absolute;
                        font-size: 8px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        color: white;
                      }
                    }
                  }
                }
              }
              &__label{
                width: 16px;
                height: 16px;
                border: 1px solid #DAE1E6;
                background-color: white;
                border-radius: 3px;
                cursor: pointer;
                position: relative;
              }
              &__title{
                display: inline-block;
                flex-shrink: 0;
                font-size: 14px;
                line-height: 18px;
                font-weight: 300;
                color: $VtbTextC;
              }
            }
          }
        }
        .tree__header{}
        &.mod-user{
          .tree__block{
            &__content{
              padding-left: 0;
              &__number{
                margin-right: 0;
                width: 50px;
              }
              .tree__block__header__btn{
                align-self: center;
                margin-right: 10px;
              }
            }
            &.collaps{
              overflow: hidden;
              .tree__block__content{
                height: 0;
                overflow: hidden;
              }
              .tree__block__header__btn{
                i{
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
    }
    &__info{
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding: 0 50px;
      &__block{
        width: 50%;
        flex-shrink: 0;
      }
      &__row{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        &__name{
          display: inline-block;
          flex-shrink: 0;
          width: 120px;
          margin-right: 10px;
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          color: #97A4B1;
        }
        &__value{
          display: inline-block;
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          color: $VtbTextC;
        }
      }
      &__total{
        width: 100%;
        position: relative;
        margin-top: 50px;
        &__title{
          display: inline-block;
          width: 100%;
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          color: #97A4B1;
          margin-bottom: 4px;
        }
        &__progress{
          width: 100%;
          position: relative;
          height: 5px;
          border-radius: 2.5px;
          background-color: #E6EDFB;
          display: block;
          &__bar{
            position: absolute;
            left: 0;
            top: 0;
            height: 5px;
            border-radius: 2.5px;
            background-color: #00AAFF;
            display: block;
          }
        }
      }
    }
    &__my-list{
      position: relative;
      width: 100%;
      padding: 35px 20px 20px 30px;
      background: linear-gradient(140.21deg, rgb(249, 249, 249) 12.25%, rgb(255, 255, 255) 65.75%);
      height: 100%;
      &__title{
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: $VtbTitleC;
        margin-top: 0;
        margin-bottom: 44px;
      }
      &__status{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        position: relative;
        margin-bottom: 55px;
        & > *{
          width: calc(100% / 3);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex-wrap: nowrap;
          position: relative;
        }
        &__num{
          display: inline-block;
          width: 66px;
          height: 66px;
          line-height: 66px;
          text-align: center;
          border-radius: 50%;
          background-color: gray;
          color: #ffffff;
          font-weight: 400;
          font-size: 30px;
          margin-bottom: 12px;
        }
        &__name{
          display: inline-block;
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          color: $VtbTextC;
        }
        &__red{
          .vtb-checklist__my-list__status__num{
            background-color: #FF5C5C;
          }
        }
        &__grey{
          .vtb-checklist__my-list__status__num{
            background-color: #B1CEE3;
          }
        }
        &__green{
          .vtb-checklist__my-list__status__num{
            background-color: #00EE98;
          }
        }
      }
      &__sub-title{
        display: inline-block;
        width: 100%;
        margin-top: 0;
        margin-bottom: 26px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $VtbTitleC;
      }
      &__text{
        display: inline-block;
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: $VtbTextC;
        margin-top: 0;
        margin-bottom: 14px;
      }
      &__link-doc{
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: $VtbPrimaryC;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        &:hover{
          color: $VtbSecondaryC;
        }
        i{
          line-height: 18px;
          font-size: 14px;
          color: #97A4B1;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px){
  .vtb__content{
    width: 940px;
  }
  .vtb-marketing__optional{
    padding: 20px 15px;
  }
  .vtb__column-small{
    width: 300px;
  }
  .vtb__column-big{
    width: 640px;
  }
  .vtb-marketing__header{
    padding: 8px 10px 0 15px;
  }
  .vtb-marketing__content-wrapp{
    padding: 24px 10px 30px 15px;
  }
}
@media screen and (max-width: 991px){
  .vtb__content{
    width: 700px;
  }
  .vtb__body{
    flex-wrap: wrap;
  }
  .vtb__column-big{
    width: 100%;
  }
  .vtb__column-small{
    width: 100%;
  }
}
@media screen and (max-width: 767px){
  .vtb__content{
    width: 590px;
  }
  .vtb-marketing__category__card{
    width: calc((100% / 2) - 20px);
  }
  .vtb-marketing__subscript__card{
    height: 150px;
  }
}
@media screen and (max-width: 574px){
  .vtb__content{
    width: 280px;
  }
  .vtb-marketing__header__banner__img{
    display: none;
  }
  .vtb-marketing__category__card{
    width: 100%;
  }
  .vtb-marketing__header{
    padding: 8px 10px 0 10px;
  }
  .vtb-marketing__content-wrapp {
    padding: 24px 10px 20px 10px;
  }
  .vtb-marketing__optional-link{
    margin-top: 10px;
  }
  .vtb-marketing__subscript__card{
    height: auto;
    flex-wrap: wrap;
  }
  .vtb-marketing__subscript__card__photo{
    height: 120px;
    width: 100%;
  }
  .vtb-marketing__subscript__card__info{
    padding: 10px 35px 0 10px;
  }
  .vtb-marketing__subscript__card__info__like{
    right: 5px;
  }
  .vtb-marketing__subscript__card__info__id{
    right: 5px;
  }
  .vtb-marketing__subscript__btn-ghost{
    width: 100%;
  }
  .vtb-marketing__block-split .block-split{
    width: 100%;
  }
  .vtb-marketing__block-text{
    padding: 0 5px;
  }
  .vtb-marketing__subscript__card__info__tag__item{
    height: auto;
  }

}
@media screen and (max-width: 320px){}