.vtb{
  &-best{
    &__header{
      width: 100%;
      position: relative;
      padding: 24px 21px 40px 37px;
      &__banner{
        width: 100%;
        height: 160px;
        position: relative;
        margin-bottom: 16px;
        &__wrapp{
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: nowrap;
          overflow: hidden;
        }
        &__control{
          position: absolute;
          width: 100%;
          height: 6px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-wrap: nowrap;
          left: 0;
          bottom: 16px;
        }
        &__item{
          flex-shrink: 0;
          flex-grow: 0;
          width: 100%;
          height: 100%;
          position: relative;
          background-size: cover;
          background-position: center right;
          padding: 22px 16px 22px 16px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: nowrap;
          overflow: hidden;
          &__bg{
            position: absolute;
            width: 780px;
            height: 780px;
            right: 98px;
            top: -416px;
            border-radius: 50%;
            background-color: rgba(2, 45, 154, 0.2);
            &:before{
              content: "";
              position: absolute;
              display: block;
              width: 680px;
              height: 680px;
              right: 48px;
              top: 95px;
              border-radius: 50%;
              background-color: rgba(2, 45, 154, 0.4);
            }
            &:after{
              content: "";
              position: absolute;
              display: block;
              width: 620px;
              height: 620px;
              right: 80px;
              top: 80px;
              border-radius: 50%;
              background-color: rgba(2, 45, 154, 1);
            }
          }
          &__text{
            position: relative;
            color: white;
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            margin-bottom: 10px;
            max-width: 350px;
          }
          &__btn{
            position: relative;
            display: inline-block;
            text-decoration: none;
            height: 30px;
            line-height: 30px;
            padding: 0 20px;
            background-color: #00AAFF;
            border-radius: 3px;
            color: white;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            &:hover{
              background-color: #008be1;
            }
          }
        }
        &__point{
          width: 12px;
          height: 12px;
          display: inline-block;
          text-decoration: none;
          flex-grow: 0;
          flex-shrink: 0;
          cursor: pointer;
          padding: 4px;
          background-color: transparent;
          position: relative;
          &:before{
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: rgba(218, 225, 230, 0.51);
          }
          &:hover{
            &:before{
              background-color: rgba(218, 225, 230, 1);
            }
          }
          &.active{
            &:before{
              background-color: white;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px){

}
@media screen and (max-width: 991px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 574px){

}
@media screen and (max-width: 320px){}