@import "var"; /* Переменные */
@import "mixin"; /* Миксины */
@import "btn"; /* Кнопки */
@import "ico"; /* Иконки */
@import "modal"; /* Модальное окно */
@import "font"; /* Модальное окно */
@import "animate"; /* Анимации */
@import "meeting"; /* переговорные */

*{
  box-sizing: border-box;
}

.container{
  max-width: 880px;
  width: 880px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  &-fluid {
    vertical-align: top;
    display: block;
    max-width: 1180px;
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  &-small{
    position: relative;
    display: inline-block;
    float: right;
    max-width: 280px;
    width: 280px;
    vertical-align: top;
  }
}
main{
  padding-top: 20px;
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
  @include def_font(14px,400);
  overflow-x: hidden;
  background-color: #F8F9FD;
} /* Стиль по умолчанию */
@import "header"; /* Шапка */
@import "page"; /* Основные стили */
@import "option"; /* Опциональные стили */
@import "footer"; /* Подвал */
@import "ie"; /* IE */
@import "media"; /* Медиа запросы */
@import "widget"; /* переговорные */
