@charset "UTF-8";
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ */
/* ╨Ь╨╕╨║╤Б╨╕╨╜╤Л */
/* line 1, _btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* ╨Ъ╨╜╨╛╨┐╨║╨╕ */
/* line 1, _ico.scss */
.ico {
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
/* line 5, _ico.scss */
.ico__like {
  background: url("../assets/img/ico/ico_like.png");
}
/* line 7, _ico.scss */
.ico__like_w {
  background: url("../assets/img/ico/ico_like_w.png");
}
/* line 11, _ico.scss */
.ico__comment {
  background: url("../assets/img/ico/ico_comment.png");
}
/* line 13, _ico.scss */
.ico__comment_w {
  background: url("../assets/img/ico/ico_comment_w.png");
}
/* line 17, _ico.scss */
.ico__watch {
  background: url("../assets/img/ico/ico_watch.png");
}
/* line 19, _ico.scss */
.ico__watch_w {
  background: url("../assets/img/ico/ico_watch_w.png");
}
/* line 23, _ico.scss */
.ico__prev {
  background: url("../assets/img/ico/ico_prev.png");
}
/* line 26, _ico.scss */
.ico__next {
  background: url("../assets/img/ico/ico_next.png");
}

/* ╨Ш╨║╨╛╨╜╨║╨╕ */
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_extraBold_normal.eot");
  src: url("../assets/font/Vtb_extraBold_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_extraBold_normal.ttf") format("truetype"), url("../assets/font/Vtb_extraBold_normal.woff") format("woff"), url("../assets/font/Vtb_extraBold_normal.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_bold_normal.eot");
  src: url("../assets/font/Vtb_bold_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_bold_normal.ttf") format("truetype"), url("../assets/font/Vtb_bold_normal.woff") format("woff"), url("../assets/font/Vtb_bold_normal.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_demiBold_normal.eot");
  src: url("../assets/font/Vtb_demiBold_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_demiBold_normal.ttf") format("truetype"), url("../assets/font/Vtb_demiBold_normal.woff") format("woff"), url("../assets/font/Vtb_demiBold_normal.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_book_normal.eot");
  src: url("../assets/font/Vtb_book_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_book_normal.ttf") format("truetype"), url("../assets/font/Vtb_book_normal.woff") format("woff"), url("../assets/font/Vtb_book_normal.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_extraLight_normal.eot");
  src: url("../assets/font/Vtb_extraLight_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_extraLight_normal.ttf") format("truetype"), url("../assets/font/Vtb_extraLight_normal.woff") format("woff"), url("../assets/font/Vtb_extraLight_normal.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_extraBold_cond.eot");
  src: url("../assets/font/Vtb_extraBold_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_extraBold_cond.ttf") format("truetype"), url("../assets/font/Vtb_extraBold_cond.woff") format("woff"), url("../assets/font/Vtb_extraBold_cond.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_bold_cond.eot");
  src: url("../assets/font/Vtb_bold_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_bold_cond.ttf") format("truetype"), url("../assets/font/Vtb_bold_cond.woff") format("woff"), url("../assets/font/Vtb_bold_cond.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_demiBold_cond.eot");
  src: url("../assets/font/Vtb_demiBold_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_demiBold_cond.ttf") format("truetype"), url("../assets/font/Vtb_demiBold_cond.woff") format("woff"), url("../assets/font/Vtb_demiBold_cond.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_book_cond.eot");
  src: url("../assets/font/Vtb_book_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_book_cond.ttf") format("truetype"), url("../assets/font/Vtb_book_cond.woff") format("woff"), url("../assets/font/Vtb_book_cond.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_extraLight_cond.eot");
  src: url("../assets/font/Vtb_extraLight_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_extraLight_cond.ttf") format("truetype"), url("../assets/font/Vtb_extraLight_cond.woff") format("woff"), url("../assets/font/Vtb_extraLight_cond.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
/* line 7, style.scss */
* {
  box-sizing: border-box;
}

/* line 11, style.scss */
.container {
  max-width: 880px;
  width: 880px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/* line 17, style.scss */
.container-fluid {
  vertical-align: top;
  display: block;
  max-width: 1180px;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 26, style.scss */
.container-small {
  display: inline-block;
  float: right;
  max-width: 280px;
  width: 280px;
  vertical-align: top;
}

/* line 34, style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: white;
}

/* ╨б╤В╨╕╨╗╤М ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О */
/* ╨и╨░╨┐╨║╨░ */
/* ╨Ю╤Б╨╜╨╛╨▓╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* ╨Ю╨┐╤Ж╨╕╨╛╨╜╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* ╨Я╨╛╨┤╨▓╨░╨╗ */
/* ╨Ь╨╡╨┤╨╕╨░ ╨╖╨░╨┐╤А╨╛╤Б╤Л */
