@charset "UTF-8";
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ */
/* ╨Ь╨╕╨║╤Б╨╕╨╜╤Л */
/* line 1, _btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* ╨Ъ╨╜╨╛╨┐╨║╨╕ */
/* line 3, _ico.scss */
.ico__phone-w {
  width: 14px;
  height: 14px;
  background: url("../assets/img/ico/phone_w.svg") no-repeat center;
  background-size: contain;
}
/* line 11, _ico.scss */
.ico__flag-w {
  width: 14px;
  height: 12px;
  background: url("../assets/img/ico/flag_w.svg") no-repeat center;
  background-size: contain;
}
/* line 19, _ico.scss */
.ico__dot-b {
  top: 7px !important;
  width: 4px;
  height: 4px;
  background: url("../assets/img/ico/dot_b.svg") no-repeat center;
  background-size: contain;
}

/* ╨Ш╨║╨╛╨╜╨║╨╕ */
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_extraBold_normal.eot");
  src: url("../assets/font/Vtb_extraBold_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_extraBold_normal.ttf") format("truetype"), url("../assets/font/Vtb_extraBold_normal.woff") format("woff"), url("../assets/font/Vtb_extraBold_normal.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_bold_normal.eot");
  src: url("../assets/font/Vtb_bold_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_bold_normal.ttf") format("truetype"), url("../assets/font/Vtb_bold_normal.woff") format("woff"), url("../assets/font/Vtb_bold_normal.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_demiBold_normal.eot");
  src: url("../assets/font/Vtb_demiBold_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_demiBold_normal.ttf") format("truetype"), url("../assets/font/Vtb_demiBold_normal.woff") format("woff"), url("../assets/font/Vtb_demiBold_normal.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_book_normal.eot");
  src: url("../assets/font/Vtb_book_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_book_normal.ttf") format("truetype"), url("../assets/font/Vtb_book_normal.woff") format("woff"), url("../assets/font/Vtb_book_normal.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'VTB';
  src: url("../assets/font/Vtb_extraLight_normal.eot");
  src: url("../assets/font/Vtb_extraLight_normal.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_extraLight_normal.ttf") format("truetype"), url("../assets/font/Vtb_extraLight_normal.woff") format("woff"), url("../assets/font/Vtb_extraLight_normal.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_extraBold_cond.eot");
  src: url("../assets/font/Vtb_extraBold_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_extraBold_cond.ttf") format("truetype"), url("../assets/font/Vtb_extraBold_cond.woff") format("woff"), url("../assets/font/Vtb_extraBold_cond.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_bold_cond.eot");
  src: url("../assets/font/Vtb_bold_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_bold_cond.ttf") format("truetype"), url("../assets/font/Vtb_bold_cond.woff") format("woff"), url("../assets/font/Vtb_bold_cond.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_demiBold_cond.eot");
  src: url("../assets/font/Vtb_demiBold_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_demiBold_cond.ttf") format("truetype"), url("../assets/font/Vtb_demiBold_cond.woff") format("woff"), url("../assets/font/Vtb_demiBold_cond.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_book_cond.eot");
  src: url("../assets/font/Vtb_book_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_book_cond.ttf") format("truetype"), url("../assets/font/Vtb_book_cond.woff") format("woff"), url("../assets/font/Vtb_book_cond.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'VTB Cond';
  src: url("../assets/font/Vtb_extraLight_cond.eot");
  src: url("../assets/font/Vtb_extraLight_cond.eot?#iefix") format("embedded-opentype"), url("../assets/font/Vtb_extraLight_cond.ttf") format("truetype"), url("../assets/font/Vtb_extraLight_cond.woff") format("woff"), url("../assets/font/Vtb_extraLight_cond.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
/* line 7, style.scss */
* {
  box-sizing: border-box;
}

/* line 11, style.scss */
.container {
  max-width: 880px;
  width: 880px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/* line 17, style.scss */
.container-fluid {
  vertical-align: top;
  display: block;
  max-width: 1180px;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 26, style.scss */
.container-small {
  position: relative;
  display: inline-block;
  float: right;
  max-width: 280px;
  width: 280px;
  vertical-align: top;
}

/* line 35, style.scss */
main {
  padding-top: 20px;
}

/* line 38, style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #F8F9FD;
}

/* ╨б╤В╨╕╨╗╤М ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О */
/* line 1, _header.scss */
.header {
  width: 100%;
  background-color: white;
}
/* line 4, _header.scss */
.header__wrap {
  position: relative;
  width: 100%;
  padding: 20px 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
}
/* line 15, _header.scss */
.header__origin {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
/* line 23, _header.scss */
.header__logo {
  height: 46px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-right: 30px;
}
/* line 29, _header.scss */
.header__logo img {
  height: 100%;
}
/* line 33, _header.scss */
.header__search {
  flex-grow: 1;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
}
/* line 42, _header.scss */
.header__search__field {
  width: 100%;
  background: #F1F3F7;
  border-radius: 2px;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
/* line 53, _header.scss */
.header__search__field__text {
  height: 100%;
  flex-grow: 1;
  position: relative;
}
/* line 57, _header.scss */
.header__search__field__text input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  line-height: 30px;
  padding: 0 12px;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}
/* line 67, _header.scss */
.header__search__field__text input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
/* line 72, _header.scss */
.header__search__field__submit {
  height: 100%;
  width: 30px;
  padding: 4px 7px;
  position: relative;
  cursor: pointer;
}
/* line 78, _header.scss */
.header__search__field__submit:hover {
  opacity: 0.8;
}
/* line 81, _header.scss */
.header__search__field__submit:before {
  display: block;
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../assets/img/ico/header_search.svg") center no-repeat;
  background-size: contain;
}
/* line 90, _header.scss */
.header__search__field__submit input {
  display: none;
}
/* line 95, _header.scss */
.header__search__type {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
/* line 102, _header.scss */
.header__search__type label {
  margin-left: 20px;
  cursor: pointer;
}
/* line 106, _header.scss */
.header__search__type label:hover span {
  opacity: 0.8;
}
/* line 110, _header.scss */
.header__search__type label input {
  display: none;
}
/* line 114, _header.scss */
.header__search__type label input:checked ~ span:before {
  border: 1px solid #00AAFF;
}
/* line 117, _header.scss */
.header__search__type label input:checked ~ span:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #00AAFF;
}
/* line 131, _header.scss */
.header__search__type label span {
  display: block;
  position: relative;
  padding-left: 16px;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}
/* line 137, _header.scss */
.header__search__type label span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 153, _header.scss */
.header__user {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid #E1E3E6;
  padding-left: 20px;
}
/* line 161, _header.scss */
.header__user__wrap {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
/* line 169, _header.scss */
.header__user__wrap:hover .header__user__wrap__avatar {
  border: 1px solid #00AAFF;
  height: 50px;
  width: 50px;
  margin-left: 0;
  margin-right: 11px;
}
/* line 176, _header.scss */
.header__user__wrap:hover span {
  text-decoration: underline;
}
/* line 180, _header.scss */
.header__user__wrap__avatar {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1px;
  margin-right: 12px;
  display: inline-block;
  background-color: grey;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
/* line 194, _header.scss */
.header__user__wrap span {
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
  color: #33549B;
  display: inline-block;
}
/* line 201, _header.scss */
.header__nav {
  background-color: #E6EDFB;
  padding: 15px 0;
  width: 100%;
  position: relative;
}
/* line 206, _header.scss */
.header__nav__wrap {
  position: relative;
}
/* line 208, _header.scss */
.header__nav__wrap ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
/* line 217, _header.scss */
.header__nav__wrap ul li {
  display: inline-block;
}
/* line 219, _header.scss */
.header__nav__wrap ul li a {
  text-decoration: none;
  display: inline-block;
  font-family: 'VTB';
  font-size: 20px;
  font-weight: 400;
  color: #33549B;
}
/* line 224, _header.scss */
.header__nav__wrap ul li a:hover {
  opacity: 0.6;
}

/* ╨и╨░╨┐╨║╨░ */
/* line 1, _page.scss */
.navigation {
  width: 100%;
  padding: 20px 25px 15px 25px;
  position: relative;
  margin-bottom: 20px;
}
/* line 7, _page.scss */
.navigation.nav-blue {
  background-color: #00A2FF;
}
/* line 10, _page.scss */
.navigation.nav-blue .navigation__title {
  color: white;
}
/* line 14, _page.scss */
.navigation.nav-blue .navigation__list a {
  color: white;
}
/* line 20, _page.scss */
.navigation.nav-white {
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
/* line 24, _page.scss */
.navigation.nav-white .navigation__title {
  color: #404040;
}
/* line 28, _page.scss */
.navigation.nav-white .navigation__list a {
  color: #38529D;
}
/* line 35, _page.scss */
.navigation__title {
  display: block;
  width: 100%;
  font-family: 'VTB';
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0;
}
/* line 42, _page.scss */
.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 0 0;
  border-top: 1px solid #DAE1E6;
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 53, _page.scss */
.navigation__list li {
  display: block;
  width: 100%;
  position: relative;
  padding-left: 23px;
  margin-bottom: 10px;
}
/* line 59, _page.scss */
.navigation__list li label {
  position: absolute;
  left: 0;
  top: 3px;
}
/* line 64, _page.scss */
.navigation__list li a {
  text-decoration: none;
  display: inline-block;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
}
/* line 68, _page.scss */
.navigation__list li a:hover {
  opacity: 0.8;
}
/* line 71, _page.scss */
.navigation__list li a.active {
  font-weight: 500;
}
/* line 77, _page.scss */
.navigation__form {
  margin: 0;
  padding: 15px 0 0 0;
  border-top: 1px solid #DAE1E6;
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 87, _page.scss */
.navigation__form label {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
/* line 92, _page.scss */
.navigation__form label input {
  display: none;
}
/* line 96, _page.scss */
.navigation__form label input:checked ~ .navigation__form__point:before {
  border: 1px solid #00ACFF;
  background-color: #00ACFF;
}
/* line 100, _page.scss */
.navigation__form label input:checked ~ .navigation__form__point:after {
  background: url("../assets/img/ico/check.svg") no-repeat center;
  background-size: contain;
}
/* line 108, _page.scss */
.navigation__form__point {
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 300;
  color: #38529D;
  position: relative;
  padding-left: 25px;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 118, _page.scss */
.navigation__form__point:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid #DAE1E6;
  border-radius: 4px;
}
/* line 130, _page.scss */
.navigation__form__point:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 9px;
}

/* line 142, _page.scss */
.side-banner {
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  border-top: 2px solid #001E7B;
  margin-bottom: 20px;
}
/* line 149, _page.scss */
.side-banner__pic {
  width: 100%;
  height: 130px;
  position: relative;
  background-color: grey;
}
/* line 154, _page.scss */
.side-banner__pic__obj {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  text-decoration: none;
  display: block;
}
/* line 164, _page.scss */
.side-banner__info {
  width: 100%;
  position: relative;
  padding: 20px 40px;
}
/* line 168, _page.scss */
.side-banner__info a {
  text-align: center;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
  color: #33549B;
  line-height: 17px;
  text-decoration: none;
  display: inline-block;
}
/* line 175, _page.scss */
.side-banner__info a:hover {
  text-decoration: underline;
}

/* line 181, _page.scss */
.slider {
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
/* line 187, _page.scss */
.slider__pic {
  width: 100%;
  height: 240px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}
/* line 197, _page.scss */
.slider__pic__object {
  width: 100%;
  height: 100%;
  display: block;
  background-color: grey;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  flex-grow: 0;
  flex-shrink: 0;
}
/* line 209, _page.scss */
.slider__control {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
/* line 215, _page.scss */
.slider__control ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 28px;
  bottom: 53px;
  z-index: 1;
}
/* line 228, _page.scss */
.slider__control ul li {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}
/* line 234, _page.scss */
.slider__control ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #89969C;
  background-color: white;
}
/* line 241, _page.scss */
.slider__control ul li a.active {
  border: 1px solid #00ACFF;
  background-color: #00ACFF;
}
/* line 249, _page.scss */
.slider__info {
  background-color: white;
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}
/* line 260, _page.scss */
.slider__info__body {
  padding: 25px;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
}
/* line 269, _page.scss */
.slider__info__body a:hover {
  text-decoration: underline;
}
/* line 273, _page.scss */
.slider__info__body__object {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: 'VTB';
  font-size: 19px;
  font-weight: 300;
  color: #33549B;
}

/* line 285, _page.scss */
.nav-line {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
}
/* line 289, _page.scss */
.nav-line ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 298, _page.scss */
.nav-line ul li {
  display: inline-block;
  margin-right: 25px;
}
/* line 301, _page.scss */
.nav-line ul li a {
  display: inline-block;
  font-family: 'VTB';
  font-size: 23px;
  font-weight: 300;
  color: #00AAFF;
  text-decoration: none;
}
/* line 306, _page.scss */
.nav-line ul li a:hover {
  color: #002882;
}

/* line 313, _page.scss */
.news-lazy {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 321, _page.scss */
.news-lazy__card {
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
  height: 340px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: stretch;
}
/* line 322, _page.scss */
.news-lazy__card:nth-child(3n + 3) {
  margin-right: 0;
}
/* line 338, _page.scss */
.news-lazy__card.video .news-lazy__card__pic:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 57px;
  background: url("../assets/img/ico/ico_video.svg") no-repeat center;
  background-size: contain;
}
/* line 351, _page.scss */
.news-lazy__card__pic {
  position: relative;
  width: 100%;
  height: 157px;
}
/* line 355, _page.scss */
.news-lazy__card__pic__object {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
/* line 362, _page.scss */
.news-lazy__card__body {
  flex-grow: 1;
  width: 100%;
  position: relative;
  padding: 20px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 372, _page.scss */
.news-lazy__card__body__category {
  display: inline-block;
  background-color: #F2F3F8;
  padding: 0 5px;
  height: 19px;
  line-height: 19px;
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 400;
  color: #89969C;
  margin-bottom: 20px;
}
/* line 382, _page.scss */
.news-lazy__card__body__title {
  display: inline-block;
  text-decoration: none;
  margin-bottom: auto;
  font-family: 'VTB';
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: #33549B;
}
/* line 389, _page.scss */
.news-lazy__card__body__title:hover {
  color: #00ACFF;
}
/* line 393, _page.scss */
.news-lazy__card__body__footer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
/* line 400, _page.scss */
.news-lazy__card__body__footer__social {
  display: block;
}
/* line 402, _page.scss */
.news-lazy__card__body__footer__social a {
  display: inline-block;
  margin-right: 14px;
  position: relative;
  padding-left: 20px;
  text-decoration: none;
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 400;
  color: #404040;
}
/* line 410, _page.scss */
.news-lazy__card__body__footer__social a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 419, _page.scss */
.news-lazy__card__body__footer__social a.social__like:before {
  width: 16px;
  height: 14px;
  background: url("../assets/img/ico/ico_like.svg") no-repeat center;
  background-size: contain;
}
/* line 426, _page.scss */
.news-lazy__card__body__footer__social a.social__like.active:before {
  background: url("../assets/img/ico/ico_like_a.svg") no-repeat center;
  background-size: contain;
}
/* line 433, _page.scss */
.news-lazy__card__body__footer__social a.social__comment:before {
  width: 16px;
  height: 16px;
  background: url("../assets/img/ico/ico_comment.svg") no-repeat center;
  background-size: contain;
}
/* line 440, _page.scss */
.news-lazy__card__body__footer__social a.social__comment.active:before {
  background: url("../assets/img/ico/ico_comment_a.svg") no-repeat center;
  background-size: contain;
}
/* line 447, _page.scss */
.news-lazy__card__body__footer__social a.social__view:before {
  width: 18px;
  height: 12px;
  background: url("../assets/img/ico/ico_view.svg") no-repeat center;
  background-size: contain;
}
/* line 454, _page.scss */
.news-lazy__card__body__footer__social a.social__view.active:before {
  background: url("../assets/img/ico/ico_view.svg") no-repeat center;
  background-size: contain;
}
/* line 463, _page.scss */
.news-lazy__card__body__footer__date {
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 300;
  color: #8D8D8D;
  line-height: 17px;
}
/* line 471, _page.scss */
.news-lazy__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* line 477, _page.scss */
.news-lazy__footer__shadow {
  width: 100%;
  height: 100px;
  position: relative;
}
/* line 481, _page.scss */
.news-lazy__footer__shadow:before {
  content: "";
  position: absolute;
  left: -10px;
  width: calc(100% + 20px);
  top: 0;
  height: 100%;
  background: linear-gradient(359.43deg, #F8F9FC 3.94%, rgba(248, 249, 252, 0.63) 53.6%, rgba(248, 249, 252, 0) 95.86%);
}
/* line 491, _page.scss */
.news-lazy__footer__fill {
  width: 100%;
  background-color: #F8F9FD;
  position: relative;
  padding-top: 20px;
  height: 100px;
}
/* line 497, _page.scss */
.news-lazy__footer__fill:before {
  top: 0;
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  left: -10px;
  height: 100%;
  background-color: #F8F9FD;
}
/* line 507, _page.scss */
.news-lazy__footer__more {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  font-family: 'VTB';
  font-size: 19px;
  font-weight: 300;
  color: #022780;
  text-decoration: none;
  border: 2px solid #022780;
  border-radius: 4px;
  padding: 0 28px;
  height: 43px;
  line-height: 39px;
  text-transform: uppercase;
  background-color: #F8F9FD;
}
/* line 522, _page.scss */
.news-lazy__footer__more:hover {
  color: #00ACFF;
  border: 2px solid #00ACFF;
}

/* line 529, _page.scss */
.breadcrumb {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}
/* line 534, _page.scss */
.breadcrumb ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
/* line 544, _page.scss */
.breadcrumb ul li {
  position: relative;
  padding-right: 17px;
  margin-right: 8px;
  display: inline-block;
}
/* line 549, _page.scss */
.breadcrumb ul li:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  display: block;
  background: url("../assets/img/ico/arrow.svg") no-repeat center;
  background-size: contain;
}
/* line 562, _page.scss */
.breadcrumb ul li:last-child:before {
  display: none;
}
/* line 566, _page.scss */
.breadcrumb ul li a {
  display: inline-block;
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 300;
  color: #8A989B;
  text-decoration: none;
}
/* line 571, _page.scss */
.breadcrumb ul li a:hover {
  text-decoration: underline;
}

/* line 578, _page.scss */
.pages-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 20px;
}
/* line 586, _page.scss */
.pages-header__title {
  display: inline-block;
  font-family: 'VTB';
  font-size: 31px;
  font-weight: 500;
  color: #414141;
  margin-right: 5px;
  line-height: 28px;
  vertical-align: bottom;
}
/* line 594, _page.scss */
.pages-header__rubric {
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #839ED3;
  line-height: 21px;
  height: 21px;
  padding: 0 10px;
  margin-left: 7px;
  position: relative;
}
/* line 603, _page.scss */
.pages-header__rubric:before {
  content: "";
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 1px;
  background-color: #8A989B;
}

/* line 615, _page.scss */
.search {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 25px 20px;
}
/* line 622, _page.scss */
.search__form {
  overflow: visible;
  width: 100%;
  position: relative;
  transition: all linear 0.2s;
  max-height: 150px;
}
/* line 628, _page.scss */
.search__form.hide {
  max-height: 30px;
  overflow: hidden;
}
/* line 633, _page.scss */
.search__form__primary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
}
/* line 644, _page.scss */
.search__form__secondary {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-start;
}
/* line 653, _page.scss */
.search__form__field {
  flex-grow: 1;
  width: 100%;
  padding-left: 34px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #E6ECF2;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  margin-right: 10px;
}
/* line 664, _page.scss */
.search__form__field__clear {
  z-index: 2;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background: url("../assets/img/ico/ico_search.svg") no-repeat center;
  background-size: contain;
}
/* line 674, _page.scss */
.search__form__field__clear.cross {
  background: url("../assets/img/ico/cross.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
}
/* line 680, _page.scss */
.search__form__field input {
  width: 100%;
  height: 28px;
  line-height: 28px;
  outline: none;
  border: none;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
  color: #89969C;
}
/* line 688, _page.scss */
.search__form__field input::placeholder {
  color: #97A4B1;
}
/* line 693, _page.scss */
.search__form__submit {
  flex-shrink: 0;
  height: 30px;
  line-height: 30px;
  background: #00AAFF;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
/* line 701, _page.scss */
.search__form__submit:hover {
  background: #009cf0;
}
/* line 704, _page.scss */
.search__form__submit input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 300;
  color: white;
  padding: 0 15px;
  cursor: pointer;
}
/* line 716, _page.scss */
.search__form__collapse-btn {
  margin-left: 1px;
  display: block;
  text-decoration: none;
  flex-shrink: 0;
  height: 30px;
  width: 26px;
  border-radius: 3px;
  position: relative;
  background: url("../assets/img/ico/drop_down.svg") no-repeat center #00AAFF;
  background-size: 10px auto;
}
/* line 727, _page.scss */
.search__form__collapse-btn.collapsed {
  background: url("../assets/img/ico/drop_up.svg") no-repeat center #00AAFF;
  background-size: 10px auto;
}
/* line 731, _page.scss */
.search__form__collapse-btn:hover {
  background-color: #009cf0;
}
/* line 735, _page.scss */
.search__form .collapsed-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 743, _page.scss */
.search__form .collapsed-content img {
  display: block;
}
/* line 747, _page.scss */
.search__form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-right: 15px;
}
/* line 755, _page.scss */
.search__form__group__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
/* line 762, _page.scss */
.search__form__group.f-no-shrink {
  flex-shrink: 0;
}
/* line 765, _page.scss */
.search__form__group.f-grow {
  flex-grow: 1;
}
/* line 768, _page.scss */
.search__form__group__title {
  width: 100%;
  display: inline-block;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
  color: #97A4B1;
  margin-bottom: 5px;
}
/* line 775, _page.scss */
.search__form__group__date {
  height: 30px;
  width: 164px;
  position: relative;
}
/* line 780, _page.scss */
.search__form__group__date:last-child .collapsed-content {
  left: auto;
  right: 0;
}
/* line 785, _page.scss */
.search__form__group__date__content {
  display: block;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #E6ECF2;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  line-height: 30px;
  padding: 0 30px 0 10px;
  text-decoration: none;
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 300;
  color: #414141;
  position: relative;
  z-index: 2;
}
/* line 801, _page.scss */
.search__form__group__date__content:before {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url("../assets/img/ico/calendar.svg") no-repeat center;
  background-size: contain;
}
/* line 812, _page.scss */
.search__form__group__date__content.active {
  border: 1px solid #00AAFF;
}
/* line 816, _page.scss */
.search__form__group__date .collapsed-content {
  box-shadow: 0px 0px 24px rgba(19, 37, 76, 0.25);
}
/* line 818, _page.scss */
.search__form__group__date .collapsed-content.hide {
  display: none;
}
/* line 823, _page.scss */
.search__form__group__separate {
  display: block;
  width: 14px;
  flex-shrink: 0;
  height: 1px;
  background-color: #B2BECB;
  margin: 0 10px;
}
/* line 831, _page.scss */
.search__form__group__author {
  width: 100%;
  height: 30px;
}
/* line 834, _page.scss */
.search__form__group__author__content {
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #E6ECF2;
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding: 0 21px 0 12px;
  color: #414141;
  z-index: 2;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
}
/* line 849, _page.scss */
.search__form__group__author__content:before {
  content: "";
  position: absolute;
  right: 11px;
  width: 11px;
  height: 7px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../assets/img/ico/drop_down_b.svg") no-repeat center;
  background-size: contain;
}
/* line 860, _page.scss */
.search__form__group__author__content.active {
  border: 1px solid #00AAFF;
}
/* line 864, _page.scss */
.search__form__group__author .collapsed-content {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 0px 24px rgba(19, 37, 76, 0.25);
  flex-wrap: nowrap;
}
/* line 873, _page.scss */
.search__form__group__author .collapsed-content.hide {
  display: none;
}
/* line 876, _page.scss */
.search__form__group__author .collapsed-content li {
  width: 100%;
  height: 30px;
  padding: 0 10px;
}
/* line 880, _page.scss */
.search__form__group__author .collapsed-content li:nth-child(2n + 1) {
  background-color: #F0F5F9;
}
/* line 883, _page.scss */
.search__form__group__author .collapsed-content li:hover {
  background-color: #00AAFF;
}
/* line 885, _page.scss */
.search__form__group__author .collapsed-content li:hover a {
  color: white;
}
/* line 889, _page.scss */
.search__form__group__author .collapsed-content li a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #414141;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
/* line 901, _page.scss */
.search__form__reset {
  height: 30px;
  position: relative;
  margin-left: 5px;
}
/* line 905, _page.scss */
.search__form__reset a {
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-decoration: none;
  position: relative;
  padding-left: 15px;
  font-family: 'VTB';
  font-size: 14px;
  font-weight: 300;
  color: #00ACFF;
}
/* line 914, _page.scss */
.search__form__reset a:hover {
  opacity: 0.8;
}
/* line 917, _page.scss */
.search__form__reset a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: url("../assets/img/ico/cross.svg") no-repeat center;
  background-size: contain;
}

/* line 932, _page.scss */
.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
/* line 941, _page.scss */
.pagination__result {
  margin-right: auto;
  position: relative;
}
/* line 944, _page.scss */
.pagination__result__title {
  font-family: 'VTB';
  font-size: 19px;
  font-weight: 300;
  color: #000000;
  margin-right: 2px;
  display: inline-block;
  line-height: 24px;
  vertical-align: bottom;
}
/* line 952, _page.scss */
.pagination__result__value {
  font-family: 'VTB';
  font-size: 19px;
  font-weight: 300;
  color: #000000;
  display: inline-block;
  line-height: 24px;
  vertical-align: bottom;
}
/* line 958, _page.scss */
.pagination__result__value b {
  font-weight: 600;
  color: #38529D;
}
/* line 963, _page.scss */
.pagination__result.hide {
  display: none;
}
/* line 967, _page.scss */
.pagination__wrap {
  display: block;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
/* line 975, _page.scss */
.pagination__point {
  margin: 0 9px 0 10px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 984, _page.scss */
.pagination__point li {
  display: block;
  position: relative;
}
/* line 987, _page.scss */
.pagination__point li a {
  position: relative;
  display: block;
  margin: 0 1px 0 0;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  font-family: 'VTB';
  font-size: 15px;
  font-weight: 400;
  color: #4662A2;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
}
/* line 1001, _page.scss */
.pagination__point li a.active {
  border: 1px solid #4662A2;
}
/* line 1004, _page.scss */
.pagination__point li a:hover {
  color: #00ACFF;
}
/* line 1010, _page.scss */
.pagination__prev {
  display: block;
  width: 7px;
  height: 10px;
  background: url("../assets/img/ico/arrow_left.svg") no-repeat center;
  background-size: contain;
}
/* line 1016, _page.scss */
.pagination__prev:hover {
  opacity: 0.8;
}
/* line 1020, _page.scss */
.pagination__next {
  display: block;
  width: 7px;
  height: 10px;
  background: url("../assets/img/ico/arrow_right.svg") no-repeat center;
  background-size: contain;
}
/* line 1026, _page.scss */
.pagination__next:hover {
  opacity: 0.8;
}

/* ╨Ю╤Б╨╜╨╛╨▓╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* ╨Ю╨┐╤Ж╨╕╨╛╨╜╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* line 1, _footer.scss */
.footer {
  width: 100%;
  position: relative;
  height: 60px;
  box-shadow: 0px 0px 7px rgba(19, 37, 76, 0.13);
}
/* line 6, _footer.scss */
.footer__wrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
/* line 14, _footer.scss */
.footer__copyright {
  display: inline-block;
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 300;
  color: #414141;
  line-height: 17px;
}
/* line 20, _footer.scss */
.footer__link {
  position: relative;
}
/* line 22, _footer.scss */
.footer__link a {
  display: inline-block;
  margin-left: 25px;
  font-family: 'VTB';
  font-size: 13px;
  font-weight: 300;
  color: #33549B;
  text-decoration: none;
}
/* line 28, _footer.scss */
.footer__link a:hover {
  color: #00ACFF;
}

/* ╨Я╨╛╨┤╨▓╨░╨╗ */
/* ╨Ь╨╡╨┤╨╕╨░ ╨╖╨░╨┐╤А╨╛╤Б╤Л */
