@font-face {
  font-family: 'iconfont_vtb';
  src:  url('fonts/iconfont_vtb.eot?axt8st');
  src:  url('fonts/iconfont_vtb.eot?axt8st#iefix') format('embedded-opentype'),
    url('fonts/iconfont_vtb.ttf?axt8st') format('truetype'),
    url('fonts/iconfont_vtb.woff?axt8st') format('woff'),
    url('fonts/iconfont_vtb.svg?axt8st#iconfont_vtb') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont_vtb' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wifi:before {
  content: "\e957";
}
.icon-webcam:before {
  content: "\e958";
}
.icon-projector:before {
  content: "\e959";
}
.icon-laptop:before {
  content: "\e95a";
}
.icon-phone_classic:before {
  content: "\e95b";
}
.icon-print1:before {
  content: "\e95c";
}
.icon-project:before {
  content: "\e95d";
}
.icon-tv:before {
  content: "\e95e";
}
.icon-eye-invisible:before {
  content: "\e95f";
}
.icon-attachment:before {
  content: "\e951";
}
.icon-hashtag:before {
  content: "\e952";
}
.icon-key:before {
  content: "\e953";
}
.icon-locked:before {
  content: "\e954";
}
.icon-star:before {
  content: "\e955";
}
.icon-tool:before {
  content: "\e956";
}
.icon-ruble:before {
  content: "\e950";
}
.icon-euro:before {
  content: "\e94e";
}
.icon-dollar:before {
  content: "\e94f";
}
.icon-participant:before {
  content: "\e94d";
}
.icon-pencil:before {
  content: "\e94c";
}
.icon-email:before {
  content: "\e947";
}
.icon-add_cloud:before {
  content: "\e940";
}
.icon-add_file:before {
  content: "\e941";
}
.icon-crop:before {
  content: "\e942";
}
.icon-frame:before {
  content: "\e943";
}
.icon-full_size:before {
  content: "\e944";
}
.icon-export_pdf:before {
  content: "\e945";
}
.icon-import_pdf:before {
  content: "\e946";
}
.icon-text:before {
  content: "\e900";
}
.icon-tick:before {
  content: "\e901";
}
.icon-time:before {
  content: "\e902";
}
.icon-zoom:before {
  content: "\e903";
}
.icon-like:before {
  content: "\e904";
}
.icon-like2:before {
  content: "\e905";
}
.icon-look:before {
  content: "\e906";
}
.icon-look2:before {
  content: "\e907";
}
.icon-mail2:before {
  content: "\e908";
}
.icon-mailing_history:before {
  content: "\e909";
}
.icon-mailing:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-nel:before {
  content: "\e90c";
}
.icon-people:before {
  content: "\e90d";
}
.icon-persone:before {
  content: "\e90e";
}
.icon-phone_add:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e910";
}
.icon-place:before {
  content: "\e911";
}
.icon-planned:before {
  content: "\e912";
}
.icon-print:before {
  content: "\e913";
}
.icon-question:before {
  content: "\e914";
}
.icon-quote:before {
  content: "\e915";
}
.icon-refresh:before {
  content: "\e916";
}
.icon-report:before {
  content: "\e917";
}
.icon-request_study:before {
  content: "\e918";
}
.icon-request:before {
  content: "\e919";
}
.icon-resend:before {
  content: "\e91a";
}
.icon-save:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e91c";
}
.icon-settings:before {
  content: "\e91d";
}
.icon-sort:before {
  content: "\e91e";
}
.icon-stop:before {
  content: "\e91f";
}
.icon-study:before {
  content: "\e920";
}
.icon-swap:before {
  content: "\e921";
}
.icon-add:before {
  content: "\e922";
}
.icon-alert_success:before {
  content: "\e923";
}
.icon-ar_down:before {
  content: "\e924";
}
.icon-ar:before {
  content: "\e925";
}
.icon-arm:before {
  content: "\e926";
}
.icon-arrow:before {
  content: "\e927";
}
.icon-arrow2:before {
  content: "\e928";
}
.icon-attention:before {
  content: "\e929";
}
.icon-birth:before {
  content: "\e92a";
}
.icon-building:before {
  content: "\e92b";
}
.icon-calendar:before {
  content: "\e92c";
}
.icon-change_history:before {
  content: "\e92d";
}
.icon-check:before {
  content: "\e92e";
}
.icon-close:before {
  content: "\e92f";
}
.icon-comment:before {
  content: "\e930";
}
.icon-comment2:before {
  content: "\e931";
}
.icon-copy:before {
  content: "\e932";
}
.icon-del:before {
  content: "\e933";
}
.icon-dot_menu:before {
  content: "\e934";
}
.icon-download_mag:before {
  content: "\e935";
}
.icon-download:before {
  content: "\e936";
}
.icon-edit:before {
  content: "\e937";
}
.icon-error:before {
  content: "\e938";
}
.icon-event:before {
  content: "\e939";
}
.icon-exel_download:before {
  content: "\e93a";
}
.icon-exel_upload:before {
  content: "\e93b";
}
.icon-exel:before {
  content: "\e93c";
}
.icon-flag:before {
  content: "\e93d";
}
.icon-guests:before {
  content: "\e93e";
}
.icon-hot_line:before {
  content: "\e93f";
}
.icon-like-act:before {
  content: "\e948";
}
.icon-like-inact:before {
  content: "\e949";
}
.icon-tree_min:before {
  content: "\e94a";
}
.icon-tree_plas:before {
  content: "\e94b";
}
